<!DOCTYPE HTML>
{% extends "index.html" %}

{% load static %}

{% block extracss %}
<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
</style>
{% endblock extracss %}
{% block content %}
	<div id="body">
		<div class="content">
			<div id="section" style="margin-right: 40px;">
				<h2>noticias</h2>
				{% for noticia in noticias %}
				<div>
					<h2>{{noticia.titulo}}.</h2><b>autor: {{noticia.autor}} - categoria: {{noticia.categoria}}</b><br><br>
					<!-- <img src="{% static '' %}{{noticia.imagen}}" alt="" width="569" height="500"> -->
					<img src="{% static '' %}{{noticia.imagen}}" alt="" width="500">
					<span>publicado: {{noticia.created_at}} </span>
					<br>
					<br>
					<p>
						{% with text=noticia.text|urlize%}
							{{text|linebreaksbr }}
						{% endwith %}
					</p>
					<hr>
				</div>
				{% endfor %}
				<!-- <ul class="paging">
					<li class="first">
						<a href="#">next</a>
					</li>
					<li class="selected">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li class="last">
						<a href="#">previous</a>
					</li>
				</ul> -->
			</div>
			<div id="sidebar">
				<div class="contact">
					<h3>Contacto</h3>
					<ul class="first">
						<li class="office">
							<b>caracas</b><span style="text-align:justify;">Avenida San Martín, Edificio "Negra Matea", anexo a la Maternidad Concepción Palacios, piso 1, Unidad de Alto Riesgo Neurológico. Metro Maternidad. Distrito Capital, VENEZUELA.</span>
						</li>
						<li class="telephone">
							+58 212 451 5955
						</li>
						<li class="email">
							<a href="uautismomcp@gmail.com">uautismomcp@gmail.com</a>
						</li>
					</ul>
				</div>
				<div>
					<h3>horas de trabajo:</h3>
					<span>Lunes - Viernes <span>7:00 a.m. - 4:30 p.m.</span></span> <span>Sábados &amp; Domingos <span>CERRADO</span></span>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block custom_script %}
<script type="text/javascript">
	$("#noticias").addClass('selected');
</script>
{% endblock custom_script %}
</body>
</html>