<!DOCTYPE HTML>
{% extends "index.html" %}

{% load static %}
{% block extracss %}
<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
</style>
{% endblock extracss %}
{% block content %}
	<div id="body">
		<div class="content">
			<div id="section" style="margin-right: 40px;">
				<h2>DIRECTORIO DE CENTROS DE AYUDA Y REFERENCIA</h2>
				<div>
					<b>¿A dónde acudir si necesita ayuda?</b>
					<p>
						<br>
						Este Directorio ha sido elaborado por la Prof. Andrea Stramwasser, miembro del Departamento de Asesoramiento Psicológico y Orientación de la Escuela de Psicología de la UCV, y los alumnos que han participado en las asignaturas Intervención en Crisis para estudiantes de Psicología, Fundamentos de Intervención en Crisis para Estudiantes de Psicología y Fundamentos en Intervención en Crisis en Catástrofes Colectivas de la Escuela de Psicología, desde 2001 hasta el presente. Es una publicación que se actualiza regularmente y que se pone a disposición de estudiantes, profesionales y público en general. Siendo que es muy frecuente que ocurran cambios de direcciones, teléfonos de contacto, e incluso, que surjan nuevas referencias, agradecemos enviar sus aportes u observaciones a la siguiente dirección contenidosfhe@gmail.com<br>

						Esta sección del Directorio ofrece información acerca de INSTITUTOS Y ESCUELAS DE EDUCACIÓN ESPECIAL. Esperamos que sea de utilidad.
					</p>
					<hr>
				</div>
				<h2>Institutos y Escuelas de Educación Especial<h2>
				<div>
 
					<b>Casa de Orientación y Estudios Especiales Dr. J. Orellana </b>

					<p>
					<i class="fa fa-map-marker"></i> Prolongación los Manolos, Qta. Farolito, La Florida, Caracas.<br> 
					<i class="fa fa-phone"></i> (0212) 781.19.86 / 781.31.13/ 782.24.54 <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 8:00 am a 12:00 m. <br>
					Descripción: Educación Diferencial privada a niños con dificultades de aprendizaje, trastornos de conducta y retardo mental leve.
					<br><br>
					</p>

					<b>Centro Educacional de Invidentes Francisco de Asís </b>
					<p>
					<i class="fa fa-map-marker"></i> Urbanización Luís Hurtado, Sector Monte Verde Km. 12, El Junquito. <br>
					<i class="fa fa-phone"></i> (0212) 422.15.58/ <i class="fa fa-print"></i> 422 26 09<br> 
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 7 AM a 12 M
					<br><br>
					</p>
					 
					 
					<b>Institutos Asociados SER Y LA FE</b>
					<p>
					<i class="fa fa-map-marker"></i> 3º Av, entre 7va y 8va trasversal, Qta. Las Rosas, Los Palos Grandes, Edo. Miranda. <br>
					<i class="fa fa-phone"></i> (0212) 283 37 54 <br>
					Descripción: Atención y Educación Especial Privada a niños con retardo mental leve, moderado y dificultad para el aprendizaje.<br> 
					<i class="fa fa-clock-o"></i> De lunes a viernes. Mañana: 8:30 am a 12:00 m y Tarde: 2:00 pm a 4:pm
					<br><br>
					</p>
					 
					 
					<b>Instituto de Educación Especial BICENTENARIO DEL LIBERTADOR</b>
					<p>
					<i class="fa fa-map-marker"></i> Santa Ana a Coromoto, No. 15 La Pastora, Caracas. <br>
					<i class="fa fa-phone"></i> (0212)- 860.5621 <br>
					Descripción: Atención especial a niños, niñas y jóvenes con retardo mental. <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 7:00 am a 12:00 m. 
					<br><br>
					</p>
					 
					<b>Instituto de  Enseñanza Integral  VISTA ALEGRE</b>
					<p>
					<i class="fa fa-map-marker"></i> Urbanización Vista Alegre, calle Piedra Azul, Qta. Luz María, Caracas. <br>
					<i class="fa fa-phone"></i> (0212) 472-42-65 <br>
					Descripción: Dificultades del Aprendizaje, Retardo Mental Leve, Retardo Mental Moderado, Autismo, Parálisis Cerebral. <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 7:00 am a 12:00 m <br><br>
					</p>

					 
					<b>Instituto Psicopedagógico EL ÁVILA</b>
					<p>
					<i class="fa fa-map-marker"></i> Callejón Berrizbeitia. Urbanización Pinar. Qta. Maritza Elena, El Paraíso, Caracas. <br>
					<i class="fa fa-phone"></i> (0212) 451-7809/ 461.93.12 <br>
					<i class="fa fa-at"></i> educacion-especial@educacion-especial.net <br>
					Descripción: Atención y Educación Especial privada a niños con retardo mental leve, moderado severo,  a niños con dificultad de aprendizaje. Además, brinda evaluación Psicológica y del Lenguaje y busca diagnosticar, atender y tratar a menores con necesidades especiales. <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes. Mañana: 7:00 am a 12:00 m y Tarde: 1:00 a 5:00 pm. <br><br>
					</p>    
					 
					<b>Instituto Psicopedagógico Escuela Diferencial CUBAGUA</b>
					<p>
					<i class="fa fa-map-marker"></i> Calle Cordillera de los Andes, Urb. Cumbres de Curumo. A 50 mts. del Módulo de policía. Caracas <br>
					<i class="fa fa-phone"></i> (0212) 978.11.48. <br>
					<i class="fa fa-desktop"></i> http://www.colegiocubagua.com.ve/ <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 8:00 am a 4:00 pm. <br>
					Descripción: Atención y Educación Especial privada a niños con dificultad de aprendizaje y retado mental (leve, moderado y severo).<br><br>
					</p> 
					 
					<b>Instituto Venezolano de la Audición y del Lenguaje IVAL</b>
					<p>
					<i class="fa fa-map-marker"></i> Cruce de las calles Araure y Cuchivero, Edif. IVAL, El Marqués (parte alta), Caracas- <br>
					<i class="fa fa-phone"></i> (0212) 242.03.43/ 0345/0439 <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 7:30 AM a 4:30 PM. <br>
					<i class="fa fa-desktop"></i> http://www.funda-ival.com.ve/fundacion.php <br>
					<i class="fa fa-at"></i> fundaival@cantv.net <br>
					Descripción: Atención y educación especial privada a niños con deficiencias auditivas y problemas de lenguaje. Se realizan evaluaciones y audiometría. Brinda Educación Universitaria en el área (Instituto basado en el modelo Oralista).<br><br>
					</p>


					<b>Instituto Venezolano para el Desarrollo Integral del Niño (INVEDIN)</b>
					<p>
					<i class="fa fa-map-marker"></i> Final calle Guaicaipuro, frente a la calle Capure, Quinta INVEDIN, el Márques. Caracas / Calle Neverí. Quinta INVEDIN. Colinas de Bello Monte. Caracas <br>  
					<i class="fa fa-phone"></i> (0212) 242.11.47 /(0212) 753.65.13 <br>
					<i class="fa fa-at"></i> contactenos@invedin.org, invedin@cantv.net  <br>
					<i class="fa fa-facebook"></i> ”Invedin desarrollo del niño” <br> 
					<i class="fa fa-twitter"></i>@invedin <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 7:00 AM a 5:00 PM. <br>
					Descripción: 
					Atención y Educación Especial privada a niños con retardo mental leve, moderado severo, y dificultad de aprendizaje. Brinda terapia de lenguaje, familiar, neuroterapia, diagnóstico psicológico, Intervención psicoeducativa, trabajo Social, Terapia Conductual, Fisioterapia, y Orientación Psicológica. 
					Integración en el medio social de infantes, niños y adolescentes que presenten alteraciones en su desarrollo cognitivo, conductual y social, en función de sus habilidad y de su entorno, ofreciendo orientación y apoyo integral en el grupo familiar. <br><br>
					</p> 
					 




					<b>Sociedad Venezolana para Niños y Adultos Autistas (SOVENIA)</b>
					<p> 
					<i class="fa fa-map-marker"></i> Calle los Huertos/ Calle el Mirador, Quinta Elena, La Campiña- Caracas. <br>
					<i class="fa fa-phone"></i> (0212) 731. 63. 42 / 731.56.56<br> 
					<i class="fa fa-print"></i> (0212) 8344606 <br>
					<i class="fa fa-at"></i> info@sovenia.net <br>
					<i class="fa fa-desktop"></i> http://www.sovenia.net/index.html <br>
					Descripción: Institución que busca el diagnóstico temprano, tratamiento precoz, apoyo técnico y emocional a los niños con autismo y a sus padres para asistencia adecuada, independientemente de la capacidad económica del núcleo familiar.  <br><br>
					</p> 
					 
					<b>Fundación AUTISMO EN VOZ ALTA- Centro Integral Autismo en Voz Alta</b>
					<p>
					<i class="fa fa-map-marker"></i> Zona Rental, Universidad Metropolitana, Edif. 1, Piso 2, Terrazas del Ávila, Caracas. <br>
					<i class="fa fa-phone"></i> (0212) 2042471 / (0212) 2042112 / <i class="fa fa-print"></i> (0212) 2042120 <br>
					<i class="fa fa-at"></i> info@autismoenvozalta.com <br>
					<i class="fa fa-desktop"></i> http://www.autismoenvozalta.com <br>
					<i class="fa fa-twitter"></i> @Aenvozalta <br>
					<i class="fa fa-facebook"></i> Fundación AUTISMO EN VOZ ALTA <br>
					Descripción: Organización sin fines de lucro que ofre proporciona una alternativa educativa integral de calidad para niños y adolescentes con trastornos del espectro autista, facilitando así su integración al contexto familiar, escolar y social.<br><br>
					</p> 
					 
					 
					<b>Unidad Técnico Educativa IECO</b>
					<p>
					<i class="fa fa-map-marker"></i> Av. Oriente No. 13, San Bernardino, Caracas. <br>
					<i class="fa fa-phone"></i> (0212) 550.29.65 <br>
					<i class="fa fa-print"></i> (0212) 550-29-65 <br>
					<i class="fa fa-desktop"></i> http://www.ieco.com.ve/home <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 7:15 AM a 12:30 M. <br>
					Descripción: Atención a los trastornos de audición y lenguaje del niño con deficiencias auditivas (Instituto basado en el modelo Oralista).<br><br>
					</p>
					 
					 
					 
					<b>Asociación Nacional contra la Parálisis Cerebral (ANAPACE)</b>
					<p>
					<i class="fa fa-map-marker"></i> Centro Piloto Nacional, Av. Rufino Blanco Fombona con Av. Lisandro Alvarado, Qta. Jim-Tov., Santa Mónica, Caracas. <br>
					<i class="fa fa-phone"></i> (0212) 661.15.45 (0212) 6627871<br> 
					<i class="fa fa-at"></i> anapace01@hotmail.com / anapace0101@cantv.net  / anapace@gmail.com<br> 
					<i class="fa fa-desktop"></i> www.anapace.org.ve <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 7:30 AM a 3:30 PM <br>
					Descripción: Atención Privada. Prevención, diagnostico y atención, con énfasis en la rehabilitación integral de niños, jóvenes y adultos con parálisis cerebral, incluyendo la estimulación a través de las artes visuales y auditivas que han sido consideradas de gran ayuda. <br><br>
					</p>
					 
					 
					 
					<b>Asociación Venezolana de Padres y Amigos de Niños Excepcionales AVEPANE</b>
					<p>
					<i class="fa fa-map-marker"></i> Av. La Guarita con calle el Martillo, sector La Tahona, La Trinidad, Edo. Miranda. <br>
					<i class="fa fa-phone"></i> (0212) 943.26.25 - 945.11.05<br> 
					<i class="fa fa-print"></i> (0212) 9453280 <br>
					<i class="fa fa-desktop"></i> http://www.webmediaven.com/avepane/ <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 7:00 AM a 12:00 M <br>
					Descripción:
					Asociación Venezolana de Padres y Amigos de Niños Excepcionales, sin fines de lucro.
					Se dedica a la prevención, diagnóstico y educación de personas con retardo mental y al desarrollo del conocimiento en el mismo campo, incluyendo la formación de docentes a nivel universitario.<br><br>
					</p>
					 
					 
					<b>Colegio Especial CENIME</b>
					<p>
					<i class="fa fa-map-marker"></i> Av. Lisandro Alvarado con Reinaldo Jahn, Qta. Moresther, Santa Mónica, Caracas. <br>
					<i class="fa fa-phone"></i> (0212) 661.32.50 <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes,  8:00 AM a 12:00 M; 1:00 a 5:00 PM <br> 
					Descripción: Atención especial privada a niños con dificultad para el aprendizaje.<br><br>
					</p>
					 
					 
					<b>Instituto Radiofónico FE Y ALEGRÍA (IRFA)</b>
					<p>
					<i class="fa fa-map-marker"></i> Colegio Fe y Alegría, La Rinconada, final de la Av. Intercomunal, El Valle, Caracas. <br>
					<i class="fa fa-desktop"></i> http://www.feyalegria.org <br>
					<i class="fa fa-clock-o"></i> De lunes a viernes, de 7:00 AM a 12:00 M <br>
					Descripción: Atención especial gratuita a niños con retardo mental, deficiencias auditivas y visuales.<br><br>
					</p>
					 
					 
					<b>Asociación Venezolana de Musicoterapeutas (ASOVEMUS)</b>
					<p>
					<i class="fa fa-map-marker"></i> Calle Voltaire, Residencias Jardín Bello Monte, nº 15-2B, Colinas de Bello Monte, Caracas. <br>
					<i class="fa fa-phone"></i> (0212) 7530070 / (0414) 2404849 – Contacto Aury Tovar <br>
					<i class="fa fa-at"></i> aurytovar@gmail.com <br>
					<i class="fa fa-desktop"></i> www.asovemus.musicoterapeutas.com/<br><br>
					</p>

					<b>Asociación Venezolana para el Síndrome de Down (AVESID)</b>
					<p>
					<i class="fa fa-map-marker"></i> Av. Sucre entre 4ta y 5ta Transversal Centro Parque Boyacá. Torre Centro. Piso 16. Los Dos Caminos. Caracas - Venezuela. <br>
					<i class="fa fa-phone"></i> (0212) 2835887 / (0212) 2839087 / (0212) 8335175 / (0412) 2612881 / (0412) 5878516 <br>
					<i class="fa fa-at"></i>  avesid@cantv.net, avesid@gmail.com, info@avesid.org, elionispero@avesid.org   <br>
					Descripción: Asociación sin fines de lucro, de carácter privado.
					Creando Independencia <br>
					<i class="fa fa-map-marker"></i> Calle del Metate, Quinta Coquito, La Tahona, Caracas. <br>
					<i class="fa fa-phone"></i> (0212) 9413360 / (0414) 3196189 – Morelia Flores de Blanco, Directora / (0426) 6136163 y (0424) 2521614 – Carmen Elena Sucre, Directora / (0414) 1262617 – Diana Fernández Aguilera, Directora / (0416) 5325194 – Dalia Sequera Martínez, Administradora. <br>
					<i class="fa fa-at"></i> creandoindependencia@gmail.com <br>
					<i class="fa fa-desktop"></i> www.creandoindependencia.com <br><br>
					</p>
					 
					 
					<b>Fundación PASO A PASO</b>
					<p>
					<i class="fa fa-phone"></i> Angela Couret (Directora) (0412) 2284132 / <i class="fa fa-print"></i> (0212) 9597475 <br>
					Julio González Liendo (Prensa) (0416) 6187821 / <i class="fa fa-print"></i> (0212) 7629228 <br>
					<i class="fa fa-desktop"></i> www.pasoapaso.com.ve/CMS/<br><br>
					</p>
					 
					 
					<b>FUNDADOWN VENEZUELA</b>
					<p>
					<i class="fa fa-map-marker"></i> Calle Girasol, Edif. Intana, piso 3. Urb. Prados del Este. <br>
					<i class="fa fa-phone"></i> 0212 514 70 75 / 914 86 62 y 0414 228 51 19 <br>
					<i class="fa fa-at"></i> fundadown@gmail.com <br>
					<i class="fa fa-desktop"></i> www.fundadownvenezuela.org <br> 
					<i class="fa fa-facebook"></i> Fundadown Venezuela Oficial bit.ly/OBMLii <br>
					<i class="fa fa-twitter"></i>@fdownvenezuela <br>
					Descripción: Asociación Civil sin fines de lucro, dedicada a la promoción y atención de la salud integral (física, social y psicológica) de niños, jóvenes y adultos con síndrome de Down. <br><br>
					</p>
					 
					<b>FUNDELF: Fundación para el Desarrollo y la Comunicación del Niño Extraordinario e Interacción con los Delfines. </b>
					<p><i class="fa fa-map-marker"></i> Av. Este 3 con Paují, Parque Residencial Las Villas, Torre B, Apto 1-2, Los Naranjos del Cafetal, Caracas.<br> 
					<i class="fa fa-phone"></i> (0414) 1144356 / (0414) 3211234 / (0212) 9865247 <br>
					<i class="fa fa-at"></i> fundelf@hotmail.com <br>
					<i class="fa fa-desktop"></i> www.fundelfaprende.blogspot.com/<br> 
					Descripción: Apoya y comparte con las familias extraordinarias la integración psico-social de sus niños especiales, tanto en su medio familiar como en su comunidad educativa. <br><br>
					</p>
					 
					 
					 
					<b>IDIS: Instituto para la Formación de Recursos Humanos para la Discapacidad</b>
					<p>
					<i class="fa fa-map-marker"></i> Calle El Limón, Quinta Mi Muñe, El Cafetal, Caracas. <br>
					<i class="fa fa-phone"></i> (0414) 3209282 / <i class="fa fa-print"></i> (0212) 9859183 <br>
					<i class="fa fa-at"></i> idisedu@gmail.com<br><br>
					</p>
					 
					 
					 
					<b>FEVEDI: Federación Venezolana de Asociaciones y Fundaciones de Personas con Discapacidad</b>
					<p>
					<i class="fa fa-at"></i> fevedi@gmail.com <br>
					Descripción: Frente socialista unido de personas con discapacidad
					</p>
				</div>

			</div>
			<div id="sidebar">
				<div class="contact">
					<h3>Contacto</h3>
					<ul class="first">
						<li class="office">
							<b>caracas</b><span style="text-align:justify;">Avenida San Martín, Edificio "Negra Matea", anexo a la Maternidad Concepción Palacios, piso 1, Unidad de Alto Riesgo Neurológico. Metro Maternidad. Distrito Capital, VENEZUELA.</span>
						</li>
						<li class="telephone">
							+58 212 451 5955
						</li>
						<li class="email">
							<a href="uautismomcp@gmail.com">uautismomcp@gmail.com</a>
						</li>
					</ul>
				</div>
				<div>
					<h3>horas de trabajo:</h3>
					<span>Lunes - Viernes <span>7:00 a.m. - 4:30 p.m.</span></span> <span>Sábados &amp; Domingos <span>CERRADO</span></span>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block custom_script %}
<script type="text/javascript">
	$('.recursos').removeClass('hidden');
	$('#recursos').addClass('selected');
	$('#centros').addClass('selected2');
</script>
{% endblock custom_script %}
</body>
</html>