<!DOCTYPE HTML>
{% extends "index.html" %}

{% load static %}
{% block extracss %}
<style type="text/css">
	span {
		color: black;
		text-align: justify;
	}
</style>
{% endblock extracss %}
{% block content %}
	<div id="body">
		<div class="content">
			<div id="section" style="margin-right: 40px;">
				<h2>contáctanos</h2>
				<form action="index.html">
					<b>Envíamos un mensaje</b> <span>Envíanos cualquier duda, inquietud, ayuda o inclusive recomendación que quieras hacernos.</span>
					<input type="text" name="fname" id="fname" placeholder="Nombre">
					<input type="text" name="email" id="email" placeholder="E-mail">
					<textarea name="message" id="message" cols="30" rows="10" placeholder="Escribe tu mensaje acá..."></textarea>
					<input type="submit" name="send" id="send" value="Enviar">
				</form>
			</div>
			<div id="sidebar">
				<div class="contact">
					<h3>Contacto</h3>
					<ul class="first">
						<li class="office">
							<b>caracas</b><span style="text-align:justify;">Avenida San Martín, Edificio "Negra Matea", anexo a la Maternidad Concepción Palacios, piso 1, Unidad de Alto Riesgo Neurológico. Metro Maternidad. Distrito Capital, VENEZUELA.</span>
						</li>
						<li class="telephone">
							+58 212 451 5955
						</li>
						<li class="email">
							<a href="uautismomcp@gmail.com">uautismomcp@gmail.com</a>
						</li>
					</ul>
				</div>
				<div>
					<h3>horas de trabajo:</h3>
					<span>Lunes - Viernes <span>7:00 a.m. - 4:30 p.m.</span></span> <span>Sábados &amp; Domingos <span>CERRADO</span></span>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#contacto').addClass('selected');
		});
	</script>
{% endblock custom_script %}
</body>
</html>