<!DOCTYPE HTML>
{% extends "index.html" %}

{% load static %}
{% block extracss %}
<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
</style>
{% endblock extracss %}
<!-- Website Template by freewebsitetemplates.com -->
{% block content %}
	<div id="body">
		<div class="section">
			<h2>
				<strong>MISIÓN </strong></h2>
			<p>
				La Unidad de Autismo de la Maternidad Concepción Palacios tiene como meta contribuir con la integración a la sociedad de los niños, niñas y adolescentes que padezcan de algún Trastorno del Espectro Autista</p>
			<p>
				En este sentido, se educará y sensibilizará a la población, de forma que posea las mejores herramientas para aceptar, comprender e integrar a quienes poseen esta condición; lo cual implica, un cambio desde la familia, los maestros y los compañeros de clase.</p>
			<p>
				La Unidad de Autismo buscará crear programas y charlas educativas que enseñen a los representantes de los niños, cuáles son las medidas que deben tomar para apoyar el desarrollo de sus hijos, ya que estos trastornos afectan al sistema nervioso y produce dificultades en las relaciones sociales de los individuos que lo padecen. Estas dificultades se observan en &nbsp;la comunicación, conducta e integración del individuo en la sociedad.</p>
			<h2>
				<strong>VISIÓN </strong></h2>
			<p>
				La conformación de una sociedad más tolerante y solidaria, preparada para que el individuo con Trastornos del Espectro Autista pueda desenvolverse sin prejuicios de los demás, sin estar apartado ni privado del aprendizaje académico. Maestros de escuela con la preparación para recibir e integrar a los niños autistas, de forma tal que puedan gozar, a su propio ritmo, del derecho de la educación. Padres con actitud paciente dispuestos a apoyar a sus hijos en el desarrollo personal definido por esta condición.</p>
			<p>
			<h2>
				<strong>VALORES</strong></h2>
			<p>
				La Unidad de Autismo promoverá:</p>
			<ol>
				<li>
					El respeto hacia el individuo con Trastornos del Desarrollo (Trastornos del Espectro Autista).</li>
				<li>
					La integración de la persona autista a la sociedad; para que pueda participar en los procesos.</li>
				<li>
					La solidaridad de los ciudadanos venezolanos hacia los individuos que padecen de esta condición.</li>
				<li>
					La tolerancia hacia las personas que padecen de alguna condición especial. (Síndrome de Down,&nbsp;Trastornos del Espectro Autista&nbsp;y condiciones discapacitantes)</li>
				<li>
					La no discriminación de sexo, género y/o preferencias sexuales.</li>
			</ol>
			<p>
				&nbsp;</p>
			<h2>nuestro equipo</h2>
			<div>
				<img src="images/emily.jpg" alt="">
				<div>
					<b><a href="#">Dra. Ana Cecilia Marquez</a></b> <small>Médico Psiquiatra - Coordinadora de la Unidad</small> 
					<p>
						Reseña e Información del profesional.
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong>anaceciliamardu@gmail.com</strong></span><br>
				</div>
			</div>
			<ul class="article">
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Dra. Miriam Ortiz</a></b> <small>Médico Psiquiatra</small>
					<p>
						 Especialista en Tratamiento Biomédico.
					</p>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Ana Emilia Sánchez</a></b> <small>Terapeuta Ocupacional</small>
					<p>
						Información extra del profesional.
					</p>
					<span ><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">anaesanchezg@hotmail.com</strong></span><br>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Maria Alejandra Santiso</a></b> <small>Nutricionista</small>
					<p>
						Información extra del profesional.
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">marialesantiso@hotmail.com</strong></span><br>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Rubén Suarez</a></b> <small>Psicopedagogo</small>
					<p>
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">rubenforeveryoung@gmail.com</strong></span><br>
				</li>
			</ul>
			<ul class="article">
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Carolina Valdez</a></b> <small>Terapeuta Conductual</small>
					<p>
						Psicóloga Terapeuta.
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">carolsalud2313@hotmail.com</strong></span><br>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Militza Camacho</a></b> <small>Trabajadora Social</small>
					<p>
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">micayriel@gmail.com</strong></span><br>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Cecilia García</a></b> <small>Terapeuta de lenguaje</small>
					<p>
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">ceciliagarcia@hotmail.com</strong></span><br>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. María Esther Franco</a></b> <small>Psicólogo</small>
					<p>
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">maesfra5@gmail.com</strong></span><br>
				</li>
			</ul>
			<h2>asistentes de la unidad</h2>
			<ul>
				<li>
					<a href="#"><img src="images/linda.jpg" alt="">Yulesmi <span>Calderón</span></a>
				</li>
			</ul>
		</div>
	</div>
{% endblock content %}
{% block custom_script %}
<script type="text/javascript">
	$("#about").addClass('selected');
</script>
{% endblock custom_script %}
</body>
</html>