<!DOCTYPE HTML>
{% extends "index.html" %}

{% load static %}
<!-- Website Template by freewebsitetemplates.com -->
{% block content %}
	<div id="body">
		<div class="section">
			<h2>nuestro equipo</h2>
			<p>
				Párrafo.
			</p>
			<div>
				<img src="images/emily.jpg" alt="">
				<div>
					<b><a href="#">Dra. Ana Cecilia Marquez</a></b> <small>Médico Psiquiatra - Coordinadora de la Unidad</small> 
					<p>
						Reseña e Información del profesional.
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong>anaceciliamardu@gmail.com</strong></span><br>
				</div>
			</div>
			<ul class="article">
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Dra. Miriam Ortiz</a></b> <small>Médico Psiquiatra</small>
					<p>
						 Especialista en Tratamiento Biomédico.
					</p>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Ana Emilia Sánchez</a></b> <small>Terapeuta Ocupacional</small>
					<p>
						Información extra del profesional.
					</p>
					<span ><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">anaesanchezg@hotmail.com</strong></span><br>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Maria Alejandra Santiso</a></b> <small>Nutricionista</small>
					<p>
						Información extra del profesional.
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">marialesantiso@hotmail.com</strong></span><br>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Rubén Suarez</a></b> <small>Psicopedagogo</small>
					<p>
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">rubenforeveryoung@gmail.com</strong></span><br>
				</li>
			</ul>
			<ul class="article">
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Carolina Valdez</a></b> <small>Terapeuta Conductual</small>
					<p>
						Psicóloga Terapeuta.
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">carolsalud2313@hotmail.com</strong></span><br>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Militza Camacho</a></b> <small>Trabajadora Social</small>
					<p>
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">micayriel@gmail.com</strong></span><br>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. Cecilia García</a></b> <small>Terapeuta de lenguaje</small>
					<p>
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">ceciliagarcia@hotmail.com</strong></span><br>
				</li>
				<li>
					<img src="images/frank.jpg" alt=""> <b><a href="#">Lic. María Esther Franco</a></b> <small>Psicólogo</small>
					<p>
					</p>
					<span><i class="fa fa-envelope"></i>&nbsp; <strong style="font-size:10px;">maesfra5@gmail.com</strong></span><br>
				</li>
			</ul>
			<h2>asistentes de la unidad</h2>
			<ul>
				<li>
					<a href="#"><img src="images/linda.jpg" alt="">Yulesmi <span>Calderón</span></a>
				</li>
			</ul>
		</div>
	</div>
{% endblock content %}
{% block custom_script %}
<script type="text/javascript">
	$("#about").addClass('selected');
</script>
{% endblock custom_script %}
</body>
</html>