<!DOCTYPE HTML>
{% extends "index.html" %}

{% load static %}
{% block extracss %}
<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
	h3 {
		color: #ef414a;
	}
</style>
{% endblock extracss %}
{% block content %}
	<div id="body">
		<div class="content">
			<div id="section" style="margin-right: 40px;">
				<h2>Enlaces de interés</h2>
				<p>
						<br>
						&nbsp;Hay muchos otros recursos y herramientas on-line que pueden ser de su utilidad a la hora de buscar soluciones y de tener mayor dominio con respecto a los tratornos del espectro autista. A continuación, podremos a su disposición los principales portales nacionales e internacionales que consideramos de mucha utilidad y veracidad, y que además mantienen una continua actualización de sus portales en pro al crecimiento de las investigaciones relacionadas al autismo. 
					</p>
					<p><br></p>

					<h3>Otras instituciones nacionales</h3>
				<div style="text-align: center;">
					<b> Fundación Autismo Venezuela </b>
					<img src="{% static 'img/funda-autismo.gif' %}" alt=""><br><br>
					Sitio web: <a href="www.autismo.org.ve/">www.autismo.org.ve/</a>
					<hr>
					<b> Sociedad Venezolana para niños Autistas SOVENIA </b>
					<img src="{% static 'img/sovenia.png' %}" alt=""><br><br>
					Sitio web: <a href="www.sovenia.net">www.sovenia.net</a>
					<hr>
					<b> Fundación Somos Celiacos Venezuela </b>
					<img src="{% static 'img/celiaca.jpg' %}" alt=""><br><br>
					Sitio web: <a href="www.celiacosvenezuela.org.ve/index.php">www.celiacosvenezuela.org.ve/index.php</a>
					<hr>
					<b> Fundación Asperger Venezuela </b>
					<img src="{% static 'img/asperven.jpg' %}" alt=""><br><br>
					Sitio web: <a href="www.fundasperven.org.ve">www.fundasperven.org.ve</a>
					<hr>
					<b> Instituto Venezolano para el Desarrollo Integral del niño </b>
					<img src="{% static 'img/invedia.png' %}" alt=""><br><br>
					Sitio web: <a href="www.invedin.org">www.invedin.org</a>
					<hr>
					<b> Fundación Autismo en Voz Alta </b>
					<img src="{% static 'img/autismovozalta.jpg' %}" alt=""><br><br>
					Sitio web: <a href="www.autismoenvozalta.com">www.autismoenvozalta.com</a>
					<hr>
				</div>
				<div></div>
				<h3>Otras instituciones internacionales</h3>
				<div style="text-align: center;">
					<b> Liga de Intervención Nutricional  Contra Autismo e Hiperactividad </b>
					<img src="{% static 'img/linca.jpg' %}" alt=""><br><br>
					Idioma: <i class="flag-icon flag-icon-es"></i> - Sitio web: <a href="www.linca.org/">www.linca.org/</a>
					<hr>
					<b> Asociación de Padres con Autismo APNA Madrid </b>
					<img src="{% static 'img/apna.png' %}" alt=""><br><br>
					Idioma: <i class="flag-icon flag-icon-es"></i> - Sitio web: <a href="www.apna.es">www.apna.es</a>
					<hr>
					<b> Autism Research Institute ARI</b>
					<img src="{% static 'img/autism.png' %}" alt=""><br><br>
					Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitio web: <a href="www.autism.com">www.autism.com</a>
					<hr>
					<b> Autism Speks </b><br>
					<img src="{% static 'img/autismspeak.png' %}" alt=""><br><br>
					Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitio web: <a href="www.autismspeaks.org">www.autismspeaks.org</a>
					<hr>
					<b> Feingold Association of the United States </b>
					<img src="{% static 'img/feingoldbannerlogo.png' %}" alt=""><br><br>
					Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitio web: <a href="www.feingold.org">www.feingold.org</a>
					<hr>
					<b> Laboratory KirKman </b><br>
					<img src="{% static 'img/kirkman.png' %}" alt=""><br><br>
					Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitios webs: <a href="www.kirmanlabs.com">www.kirmanlabs.com</a> /  <a href="www.kirmangroup.com">www.kirmangroup.com</a>
					<hr>
					<b> Great Plains Laboratory </b><br>
					<img src="{% static 'img/greatplain.png' %}" alt=""><br><br>
					Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitio web: <a href="www.greatplainslaboratory.com/home/">www.greatplainslaboratory.com/home/</a>
				</div>
			</div>
			<div id="sidebar">
				<div class="contact">
					<h3>Contacto</h3>
					<ul class="first">
						<li class="office">
							<b>caracas</b><span style="text-align:justify;">Avenida San Martín, Edificio "Negra Matea", anexo a la Maternidad Concepción Palacios, piso 1, Unidad de Alto Riesgo Neurológico. Metro Maternidad. Distrito Capital, VENEZUELA.</span>
						</li>
						<li class="telephone">
							+58 212 451 5955
						</li>
						<li class="email">
							<a href="uautismomcp@gmail.com">uautismomcp@gmail.com</a>
						</li>
					</ul>
				</div>
				<div>
					<h3>horas de trabajo:</h3>
					<span>Lunes - Viernes <span>7:00 a.m. - 4:30 p.m.</span></span> <span>Sábados &amp; Domingos <span>CERRADO</span></span>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block custom_script %}
<script type="text/javascript">
	$('.recursos').removeClass('hidden');
	$('#recursos').addClass('selected');
	$('#enlaces').addClass('selected2');
</script>
{% endblock custom_script %}
</body>
</html>