<!DOCTYPE HTML>
{% extends "index.html" %}

{% load static %}
{% block extracss %}
<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
	h5 {
		color: #ef414a;
	}
	h3 {
		color: #144879;
	}
	li {
		color: black;
	}
	.flotante {
    	display:scroll;
        position:fixed;
        bottom:320px;
        right:0px;
	}
</style>
{% endblock extracss %}
{% block content %}
	<a class='flotante btn btn-lg' style="background-color:#144879; color:#fff;" href='#' ><i class="fa fa-caret-square-o-up"></i> <strong>IR ARRIBA</strong> <i class="fa fa-caret-square-o-up"></i></a>
	<div id="body">
		<div id="content">
			<div id="sidebar">
				<h3><strong>Alimentación</strong></h3>
				<ul>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'recetas' %}"><strong>Recetas</strong></a>
					</li>
					<li class="selected">
						<a href="{% url 'gluten' %}"><strong>Comer sin Gluten</strong></a>
						<ul>
							<li>
								<a href="#con-gluten">Alimentos con gluten</a>
							</li>
							<li>
								<a href="#sin-gluten">Alimentos sin Gluten</a>
							</li>
						</ul>
					</li>
					<li class="selected">
						<a href="{% url 'lacteos' %}"><strong>Comer sin Lácteos</strong></a>
					</li>
					<li>
						<a></a>
					</li>
				</ul>
				<h3><strong>Mas Recursos</strong></h3>
				<ul>
					<li class="selected" style="padding-bottom:1px">
						<a href=""><strong>Enlaces de interés</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href=""><strong>Centros de ayuda</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href=""><strong>Películas</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href=""><strong>¿Primeros 100 días?</strong></a>
					</li>
				</ul>
			</div>
			<div id="section" style="margin-left: 40px; width:600px; padding-right:0px;">
				<h2>Comer sin gluten</h2>
				<img src="{% static 'img/gluten2.jpg' %}" alt="">
				<p>
					Cuando le dicen que su hijo con trastorno del espectro autista es alérgico a ciertos alimentos y aditivos químicos, eliminar el gluten puede parecer imposible. Cumplir con una lista larga de "alimentos prohibidos" resulta una tarea cuesta arriba para la familia, pues para lograr que el niño esté libre de estas toxinas es importante que todos los integrantes del grupo familiar sigan la dieta como ejempo y como técnica de apoyo.
				</p>
				<div id="con-gluten">
					<div>
						<h2>Alimentos que pueden contener gluten</h2>
					<p align="LEFT">
						&nbsp;</p>
					<p align="LEFT">
						Entre los granos que contienen gluten se encuentran:<br>
							Trigo, Spelt,<br>
							Kamut, Centeno,<br>
							Triticale, Cebada,<br>
							Avena, Alfalfa,<br>
					</p>
					<p>
						&nbsp;</p>
					<p>
						Y derivados de estos:</p>
					<p>
						&nbsp;</p>
					<p>
						-Panes<br>
						-Harinas<br>
						-Pasteles<br>
						-Galletas<br>
						-Bizcochos<br>
						-Masas<br>
						-Otros productos de panadería y pastelería<br>
						-Pizza<br>
						-Pastas de sémola<br>
						-Leches malteadas o achocolatadas<br>
						-Polvos para bebidas instatáneas
						<br>
						-Vinagre de trigo<br>
						-Infusiones o bebidas preparadas con los cereales anteriores
					</p>
					</div>
					<div>
						<h2>
							Alimentos procesados que podrían contener gluten</h2>
						<p>
							&nbsp;</p>
						<p>

								-Papas fritas congeladas<br>
								-Aderezos para ensaladas<br>
								-Salsas<br>
								-Atún<br>
								-Helado<br>
								-Pasta de tomate<br>
								-Productos que contienen vinagre: ketchup o mostaza<br>
								-Café instantáneo<br>
								-Levadura pre-empacada<br>
								-Azúcar para nevar (usualmente también contiene maíz)<br>
								-Sirimi/imitación de carne de cangrejo (contiene un aglutinante de almidón)<br>
								-Sabores y extractos<br>
								-Especias comerciales molidas<br>
								-Vitaminas<br>
								-Medicinas: OTC o por prescripción<br>-
								Caramelos, Chicles<br>
								-Condimentos<br>
								-Sobres<br>
								-Plastilina (Playdough)<br>
								-Goma de pegar escolar</li>
						</p>
						<p>
							&nbsp;</p>
					</div>
				</div>
				<div>
					<h2>
						Otros&nbsp;aditivos que contienen gluten son:</h2>
					<div>
						<p>
							-Malta, cebada malteada, sabor de malta<br>
							-Gluta
							mato monosódico (MSG)<br>
							-Proteína vegetal hidrolizada<br>
							-Vinagre destilado<br>
								
						</p>
					</div>
					<div>
						<p>
							-Jarabe de arroz<br>
							-Sabores naturales y artificiales<br>
							-Color de caramelo<br>
							-Dextrina
						</p>
					</div>
				</div>
					<p>
						&nbsp;</p>

				<div >
					<p>
					Adicionalmente, algunas personas presentan reacciones a los siguientes granos, que son generalmente considerados como libres de gluten. Esta puede ser debida a una contaminación por el lado del proveedor, a contaminación en la tienda, o a una alergia alimentaria. Individualmente se deberá determinar si estos granos son seguros o no para el consumo. Al igual que con la introducción de cualquier alimento, se debe ir poco a poco y añadir sólo un alimento a la vez.</p>
					<p>
						&nbsp;</p>
					<div>
						<p>
							-Amaranto Sorgo (jowar)<br>
							-Buckwheat (kasha) Arroz salvaje<br>
						</p>
					</div>
					<div>
						<p>
							-Millo (millet) Lágrimas de Job (Job’s tears)<br>
							-Teff Quinoa
						</p>
					</div>
					<p>
						&nbsp;</p>
				</div>
				<div id="sin-gluten">
					<h2>
						<b>Granos&nbsp;sin gluten y Harinas alternativas:</b></h2>
					<p>
						&nbsp;</p>
					<div>
						<p>
							-Arroz blanco<br>
							-Arroz integral<br>
							-Arroz dulce Tapioca (cassava)<br>
							-Fécula de patata<br>
							-Garbanzos<br>
							-Lentejas<br>
							-Maíz<br>
							-Harinas de frijoles<br>
						</p>
					</div>
					<div>
						<p>
							-Plátano<br>
							-Yuca<br>
							-Amaranto<br>
							-Sorgo<br>
							-Mijo<br>
							-Almendra<br>
							-Algarrobo<br>
							-Castaña
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock content %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.flotante').slideUp(300);
			$('.recursos').removeClass('hidden');
			$('#recursos').addClass('selected');
			$('#alimentacion').addClass('selected2');
			$('.flotante').click(function(){
				$('body, html').animate({
					scrollTop: '0px'
				}, 300);
			});

			$(window).scroll(function(){
				if( $(this).scrollTop() > 0 ){
					$('.flotante').slideDown(300);
				} else {
					$('.flotante').slideUp(300);
				}
			});
		});
	</script>
{% endblock custom_script %}
</body>
</html>