<!DOCTYPE HTML>
{% extends "index.html" %}

{% load static %}
{% block extracss %}
<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
	h5 {
		color: #ef414a;
	}
	h3 {
		color: #144879;
	}
	li {
		color: black;
	}
	.flotante {
    	display:scroll;
        position:fixed;
        bottom:320px;
        right:0px;
	}
</style>
{% endblock extracss %}
{% block content %}
	<a class='flotante btn btn-lg' style="background-color:#144879; color:#fff;" href='#' ><i class="fa fa-caret-square-o-up"></i> <strong>IR ARRIBA</strong> <i class="fa fa-caret-square-o-up"></i></a>
	<div id="body">
		<div id="content">
			<div id="sidebar">
				<h3><strong>Alimentación</strong></h3>
				<ul>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'recetas' %}"><strong>Recetas</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'gluten' %}"><strong>Comer sin Gluten</strong></a>
					</li>
					<li class="selected">
						<a href="{% url 'lacteos' %}"><strong>Comer sin Lácteos</strong></a>
						<ul>
							<li>
								<a href="#lacteo">Con/Sin Lácteos</a>
							</li>
						</ul>
					</li>
					<li>
						<a></a>
					</li>
				</ul>
				<h3><strong>Mas Recursos</strong></h3>
				<ul>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'enlaces' %}"><strong>Enlaces de interés</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'centros' %}"><strong>Centros de ayuda</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'peliculas' %}"><strong>Películas</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'manual' %}"><strong>¿Primeros 100 días?</strong></a>
					</li>
				</ul>
			</div>
			<div id="section" style="margin-left: 40px; width:600px; padding-right:0px;">
				<h2>Comer sin lácteos</h2>
				<img src="{% static 'img/lacteos2.jpg' %}" alt="">
				<p>
					Cuando le dicen que su hijo con trastorno del espectro autista es alérgico a ciertos alimentos y aditivos químicos, eliminar los lácteos puede parecer imposible. Cumplir con una lista larga de "alimentos prohibidos" resulta una tarea cuesta arriba para la familia, pues para lograr que el niño esté libre de estas toxinas es importante que todos los integrantes del grupo familiar sigan la dieta como ejempo y como técnica de apoyo.
				</p>
				<div id="lacteo">
					<div>
						<h2>Ingredientes que contienen lácteos</h2>
					<p align="LEFT">
						&nbsp;</p>
					<p align="LEFT">
					    - Leche de cabra, en polvo y descremada<br>
					    - Mantequilla, Queso <br>
					    - Lactosa<br>
					    - Yogurt, Suero<br>
					    - Caseína, caseinato
					</p>
					</div>
					<div>
						<h2>
							Sustitutos seguros de la leche</h2>
						<p>
							&nbsp;</p>
						<p>
						    - Leche de Almendras <br>
						    - Leche de arroz (chequear)<br>
						    - Leche de Patata ("Darifree")<br>
						    - Leches de nueces (chequear ingredientes)<br>
						    - Leche de Ajonjolí  
    					</p>
						<p>
							&nbsp;</p>
					</div>
				</div>
					<p>
						&nbsp;</p>

				<div >
					<p><strong>
					Los huevos no contienen lácteos, pero la mayonesa y otros productos con huevos pueden contener gluten. Chequear con el fabricante.</strong></p>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock content %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.flotante').slideUp(300);
			$('.recursos').removeClass('hidden');
			$('#recursos').addClass('selected');
			$('#alimentacion').addClass('selected2');
			$('.flotante').click(function(){
				$('body, html').animate({
					scrollTop: '0px'
				}, 300);
			});

			$(window).scroll(function(){
				if( $(this).scrollTop() > 0 ){
					$('.flotante').slideDown(300);
				} else {
					$('.flotante').slideUp(300);
				}
			});
		});
	</script>
{% endblock custom_script %}
</body>
</html>