<!DOCTYPE HTML>
{% extends "index.html" %}

{% load static %}
{% block extracss %}
<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
	h4 {
		color: #144879;
	}
	li {
		color: black;
	}
	.flotante {
    	display:scroll;
        position:fixed;
        bottom:320px;
        right:0px;
	}
</style>
{% endblock extracss %}
{% block content %}
	<a class='flotante btn btn-lg' style="background-color:#144879; color:#fff;" href='#' ><i class="fa fa-caret-square-o-up"></i> <strong>IR ARRIBA</strong> <i class="fa fa-caret-square-o-up"></i></a>
	<div id="body">
		<div id="content">
			<div id="sidebar">
				<h3><strong>Alimentación</strong></h3>
				<ul>
					<li class="selected">
						<a href="{% url 'recetas' %}"><strong>Recetas</strong></a>
						<ul>
							<li>
								<a href="#">Mezcla para hacer pan</a>
							</li>
							<li>
								<a href="#torta">Torta blanca sin gluten</a>
							</li>
														<li>
								<a href="#lenche">Leche de almendras</a>
							</li>
							<li>
								<a href="#leche2">Leche de Coco</a>
							</li>
							<li>
								<a href="#leche3">Leche de Arróz</a>
							</li>
							<li>
								<a href="#leche4">Leche de Ajonjolí</a>
							</li>
							<li>
								<a href="#eremache">Crema de Cheez Whizz</a>
							</li>
							<li>
								<a href="#ghee">Mantequilla clarificada</a>
							</li>
							<li>
								<a href="#bunhuelo">Buñuelos de apio</a>
							</li>
							<li>
								<a href="#tortillas">Tortillas de papa</a>
							</li>
							<li>
								<a href="#yuca">Yuca con mojito</a>
							</li>
							<li>
								<a href="#chicha">Chicha de ocumo chino</a>
							</li>
							<li>
								<a href="#arepas">Arepas dulces</a>
							</li>
							<li>
								<a href="#bollos">Bollos pelones</a>
							</li>
							<li>
								<a href="#flan">Flan de arróz</a>
							</li>
							<li>
								<a href="#suspiros">Suspiros de coco</a>
							</li>
							<li>
								<a href="#panquecas">Mezcla para panquecas</a>
							</li>
							<li>
								<a href="#arepaYuca">Arepas de yuca</a>
							</li>
						</ul>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'gluten' %}"><strong>Comer sin Gluten</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'lacteos' %}"><strong>Comer sin Lácteos</strong></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
				<h3><strong>Más Recursos</strong></h3>
				<ul>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'enlaces' %}"><strong>Enlaces de interés</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href=""><strong>Centros de ayuda</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href=""><strong>Películas</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href=""><strong>¿Primeros 100 días?</strong></a>
					</li>
				</ul>
			</div>
			<div id="section" style="margin-left: 40px;">
				<img src="{% static 'img/recetas.jpg' %}" alt="">
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="mezcla">
					Mezcla para hacer pan&nbsp;</h2>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes:</h4>
				<ul>
					<li>
						1 kilo de harina de arroz.</li>
					<li>
						650 gr de maicena o de almidón de yuca.</li>
					<li>
						1 1/3 taza de agua.</li>
					<li>
						3 cucharadas de azúcar Stevia.</li>
					<li>
						3 cucharadas de aceite de maíz.</li>
					<li>
						2 cucharaditas de sal.</li>
					<li>
						3 cucharaditas de levadura seca sin gluten.</li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de Preparación:</h4>
				<p style="font-size:16px;">
					Mezcle el kilo de harina de arroz con los 650 gramos de maicena (Aprox. 4 tazas de la mezcla). Luego agréguele el resto de los ingredientes secos. Añada el agua y el aceite de maíz. Mezclar hasta lograr una masa homogénea.</p>
				<p style="font-size:16px;">
					Dejar reposar por&nbsp;media hora y hornear por 35 minutos aprox a 250ºC en el horno&nbsp;hasta que dore.</p>
				<p style="font-size:16px;">
					Se aconseja usar batidora eléctrica.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="torta">
					Torta blanca sin gluten</h2>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes:</h4>
				<ul>
					<li>
						2 tazas de harina sin gluten.</li>
					<li>
						1 1/2 taza de azúcar Stevia o Xilitol.</li>
					<li>
						3 1/2 cucharaditas de polvo para hornear sin gluten.</li>
					<li>
						1/2 taza de&nbsp;mantequilla Ghee.</li>
					<li>
						2 cucharaditas Xanthan Gum.</li>
					<li>
						3 huevos.</li>
					<li>
						1 taza de leche de arroz&nbsp; o agua&nbsp;de arroz.</li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de Preparación:</h4>
				<p style="font-size:16px;">
					Precalentar el horno en 125º C.</p>
				<p style="font-size:16px;">
					Hacer la mezcla de las tres harinas con 1 kilo de harina de arroz, 650 gramos de maicena o 1/2 kilo de almidón de yuca.</p>
				<p style="font-size:16px;">
					Añada a las 2 tazas de harina sin gluten el Xanthan Gum y el polvo para hornear sin gluten.</p>
				<p style="font-size:16px;">
					Batir bien la&nbsp;mantequilla Ghee con el azúcar Stevia. Luego añadir los huevos. Posteriormente añada 2 tazas de mezcla de las harinas, la leche y bata toda la mezcla a alta velocidad durante 3 minutos aproximadamente.</p>
				<p style="font-size:16px;">
					Untar el molde con&nbsp;mantequilla líquida o aceite. Vierta la mezcla en el molde y deje hornear por 35 minutis. Puede agregarle esencia de vainilla, canela o cascaritas de limón para darle otro sabor a la torta.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					IMPORTANTE RECORDAR</h4>
				<p style="font-size:16px;">
					En el caso del Xanthan Gum si se excede puede dañar la mezcla y darle consistencia de chicle a la torta.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="leche">
					Leche de almendras</h2>
				<p style="font-size:16px;" align="LEFT">
					(4-5 tazas)</p>
				<p style="font-size:16px;" align="LEFT">
					&nbsp;</p>
				<h4 align="LEFT">
					Ingredientes:</h4>
				<ul>
					<li align="LEFT">
						1 porción de almendras</li>
					<li align="LEFT">
						4 tazas de agua fría</li>
					<li align="LEFT">
						Ajonjolí al gusto (aumenta el aporte de calcio en las bebidas)</li>
					<li align="LEFT">
						Estevia o azúcar morena al gusto (Si no hay Cándida)</li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de preparación:</h4>
				<p style="font-size:16px;">
					Antes de pelar las almendras,&nbsp;ponerlas en agua hirviendo por 5 a 7 minutos.</p>
				<p style="font-size:16px;">
					Después de peladas, dejar en remojo todas las almendras por una noche.</p>
				<p style="font-size:16px;">
					Mezcle todos los ingredientes en una licuadora o batidora hasta quetenga una mezcla homogénea.</p>
				<p style="font-size:16px;">
					Dejar que se asiente por 30 minutos.</p>
				<p style="font-size:16px;">
					Puede agregar pasas, vainilla o canela para agregar sabor.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="leche2">
					Leche de coco</h2>
				<p style="font-size:16px;">
					(4-5 tazas)</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes </h4>
				<ul>
					<li>
						1 coco (227 gramos [1/2 libra]) </li>
					<li>
						4-5 tazas de agua fría </li>
					<li>
						Estevia o azúcar morena al gusto (Si no hay Cándida). </li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de preparación </h4>
				<p style="font-size:16px;">
					Dejar el coco duro en remojo, picado en trocitos, toda la noche. </p>
				<p style="font-size:16px;">
					Mezclar los ingredientes en la licuadora (batidora) y bátalos. </p>
				<p style="font-size:16px;">
					Dejar reposar la mezcla por&nbsp;30 minutos.&nbsp;</p>
				<p style="font-size:16px;">
					Colar la mezcla y sírvalo frío. </p>
				<p style="font-size:16px;">
					Añadir estevia o azúcar morena (opcional).</p>
				<p style="font-size:16px;">
					Puede usar el sedimento restantes para sus postres. </p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="leche3">
					Leche de arroz</h2>
				<p style="font-size:16px;">
					(4-5 tazas)</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4 align="LEFT">
					Ingredientes:</h4>
				<ul>
					<li>
						4 tazas de agua caliente o tibia </li>
					<li>
						1 taza de arroz cocido (Integral o blanco) </li>
					<li>
						1 cucharadita de vainilla natural. </li>
					<li>
						Estevia al gusto. </li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de preparación: </h4>
				<p style="font-size:16px;">
					Mezclar todos los ingredientes en una licuadora (batidora) hasta que tenga una mezcla homogénea. </p>
				<p style="font-size:16px;">
					Dejar que se asiente por unos 30 minutos. </p>
				<p style="font-size:16px;">
					Colar&nbsp;la mezcla resultante. </p>
				<p style="font-size:16px;">
					El sabor dependerá de cómo usted cocine el arroz. Trate diferentes formas, hasta que consigue el que tenga mejor sabor. </p>
				<p style="font-size:16px;">
					Para variar puede hacer dos cosas. La primera después de limpiar el arroz, úselo crudo en lugar de cocinado. Por otro lado puede dejarlo en remojo toda la noche y batirlo con los otros ingredientes a la mañana siguiente. </p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2>
					&nbsp;</h2>
				<h2 id="leche4">Leche de ajonjolí</h2>
				<p style="font-size:16px;">
					(1 vaso)</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes: </h4>
				<ul>
					<li>
						2 cucharadas de ajonjolí semilla blanca </li>
					<li>
						1/4 agua hervida </li>
					<li>
						Estevia o azúcar morena al gusto </li>
				</ul>
				<h4>
					Modo de preparación: </h4>
				<p style="font-size:16px;">
					Lavar 2 cucharas de ajonjolí. </p>
				<p style="font-size:16px;">
					En una copa de agua hervida dejar reposando por la noche el ajonjolí. </p>
				<p style="font-size:16px;">
					Sin cambiar el agua, licuar en la licuadora hasta que el agua se vuelva lechosa y homogénea. </p>
				<p style="font-size:16px;">
					Endulzar con estevia o con azúcar morena al gusto. </p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="cremache">
					&nbsp;Crema de Cheez Whizz&nbsp;</h2>
				<h2>
					&nbsp;</h2>
				<h4>
					Ingredientes: </h4>
				<ul>
					<li>
						Pimentón rojo asado 1 unidad. </li>
					<li>
						Semillas de Merey 1 taza. </li>
					<li>
						Aceite de oliva o maíz al gusto. </li>
					<li>
						Sal al gusto. </li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de preparación:</h4>
				<p style="font-size:16px;">
					Se coloca el pimentón asado en la licuadora y se le va añadiendo las semillas de merey tostadas de acuerdo a la cantidad de pimentón, se le pone sal al gusto, aceite de oliva y un poquito de agua por si acaso hace falta darle consistencia de pasta para untar. </p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2>
					&nbsp;</h2>
				<h2 id="ghee">
					Ghee: Mantequilla o margarina clarificada</h2>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes: </h4>
				<ul>
					<li>
						Margarina o Mantequilla ½ Kg. o 1 Kg. </li>
					<li>
						<font size="2">Nota: Al final del proceso queda bastante reducida por ello cuanto más cantidad mejor. </font></li>
					<li>
						Una gasa esterilizada (de venta en farmacias) + Un colador. O también se podría utilizar un colador de tela. </li>
					<li>
						Una olla de acero inoxidable. </li>
					<li>
						Un recipiente de vidrio preferentemente con tapa hermética. </li>
					<li>
						Una cuchara de madera. </li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4 align="LEFT">
					Modo de preparación:</h4>
				<p style="font-size:16px;">
					Se coloca la mantequilla o margarina en la olla a fuego lento y se va removiendo para derretirla. <font size="2">Durante todo el proceso se deberá ir removiendo constantemente y evitar que la mantequilla o margarina se queme. </font></p>
				<p style="font-size:16px;">
					Cuando empiece a hervir se formará una espuma que&nbsp;no se ha de retirar en ningún momento, sino que hay que esperar a que esta se evapore. </p>
				<p style="font-size:16px;">
					Se mantendrá hirviendo hasta que la mantequilla se haga más líquida y alcance un color dorado. En las paredes de la olla quedará la proteína a medida que se vaya haciendo el ghee y cogerá un color tostado con olor a galleta. </p>
				<p style="font-size:16px;">
					Para comprobar que el ghee está hecho se puede hacer la prueba del algodón. Se retira la olla del fuego y se introduce un trocito de algodón o hisopo, éste se moja un poco en el ghee y se comprueba directamente en el fuego si chispotea, si ya no chispotea es que ya no hay agua y está hecho; O también esperar hasta que no se produzca más espuma. </p>
				<p style="font-size:16px;">
					Acto seguido se coge la gasa y se pone en el colador, se coloca encima del recipiente de vidrio y se vierte el ghee para que así quede retenida toda la proteína y trazas de soya que pudiese contener (Proceso de filtrado). </p>
				<p style="font-size:16px;">
					Se deja reposar y enfriar sin taparla. </p>
				<p style="font-size:16px;">
					Finalmente se tapa y se conserva a temperatura ambiente o en el refrigerador.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					&nbsp;</h4>
				<h2 id="bunhuelo">
					Buñuelos de apio</h2>
				<p style="font-size:16px;">
					(6 raciones)</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes: </h4>
				<ul>
					<li>
						Apio ½ kg. </li>
					<li>
						Huevo 1 unidad. </li>
					<li>
						Aceite ¼ de taza. </li>
					<li>
						Sal al gusto. </li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de preparación: </h4>
				<p style="font-size:16px;">
					Lavar, pelar y sancochar los apios hasta que ablanden. </p>
				<p style="font-size:16px;">
					Escurrir y aplastar hasta hacer puré. </p>
				<p style="font-size:16px;">
					Añadir el huevo, la sal. </p>
				<p style="font-size:16px;">
					Formar bolitas.</p>
				<p style="font-size:16px;">
					Freir las bolitas en aceite caliente, moviendo constantemente para que doren de manera uniforme. </p>
				<p style="font-size:16px;">
					Escurrir sobre papel absorbente. </p>
				<p style="font-size:16px;">
					Si desea agregue sirope de papelón. </p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					&nbsp;</h4>
				<h2 id="tortillas">
					Tortillas de papa</h2>
				<p style="font-size:16px;">
					(6 raciones)</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes: </h4>
				<ul>
					<li>
						Papas medianas 2 unidades. </li>
					<li>
						Ajoporro 1 ½ unidad. </li>
					<li>
						Huevos 5 unidades. </li>
					<li>
						Aceite 4 ½ cucharadas. </li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de preparación: </h4>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					Lavar, pelar y rebanar las papas finamente. </p>
				<p style="font-size:16px;">
					Corte el ajoporro en trocitos. </p>
				<p style="font-size:16px;">
					En un sartén, calientar el aceite indicado y añadir las rebanadas de papa. Tapar y dejar cocinar a fuego lento. </p>
				<p style="font-size:16px;">
					A mitad de cocción agregue el ajoporro. </p>
				<p style="font-size:16px;">
					Batir los huevos y añadir las papas y al ajoporro cocido. </p>
				<p style="font-size:16px;">
					Freir y dorearpor ambos lados. Se puede comer caliente o fría. </p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="yuca">
					Yuca con mojito</h2>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes: </h4>
				<ul>
					<li>
						Yuca 1 kg. </li>
					<li>
						Apio España 1 unidad. </li>
					<li>
						Perejil 2 ramitas. </li>
					<li>
						Cilantro 2 ramitas. </li>
					<li>
						Pimentón ½ unidad. </li>
					<li>
						Ají dulce 2 unidades. </li>
					<li>
						Aceite 4 cucharadas. </li>
					<li>
						Vinagre 1 cucharada. </li>
					<li>
						Sal al gusto. </li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de preparación:&nbsp;</h4>
				<p style="font-size:16px;">
					Lavar, pelar y cortar la yuca en trozos. </p>
				<p style="font-size:16px;">
					Sancochar&nbsp;hasta que ablande. </p>
				<p style="font-size:16px;">
					Picar finamente el apio España, perejil, cilantro, ají dulce y pimentón. </p>
				<p style="font-size:16px;">
					Sazonar con el aceite, vinagre y sal al gusto.&nbsp;</p>
				<p style="font-size:16px;">
					Si desea añada aguacate picado. </p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="chicha">
					Chicha de ocumo chino</h2>
				<p style="font-size:16px;">
					(6 raciones)</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes: </h4>
				<ul>
					<li>
						Ocumo Chino ½ kg. </li>
					<li>
						Agua 3 tazas. </li>
					<li>
						Leche de arroz 3 tazas.</li>
					<li align="LEFT">
						Estevia o Azúcar Morena al gusto (Si no hay Cándida) </li>
					<li>
						Vainilla natural. </li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de preparación:</h4>
				<p style="font-size:16px;" align="LEFT">
					Lave, pele y corte el ocumo en trozos. </p>
				<p style="font-size:16px;">
					Póngalo a hervir en el agua indicada hasta que ablande. </p>
				<p style="font-size:16px;">
					Licue junto con la leche y añada el azúcar y la vainilla. Sirva Frío. </p>
				<p style="font-size:16px;">
					Le puede agregar canela. </p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="arepas">
					Arepas dulces</h2>
				<p style="font-size:16px;">
					(6 raciones)</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes: </h4>
				<ul>
					<li>
						Harina de Maíz (libre de trazas de gluten). </li>
					<li>
						Anís dulce. </li>
					<li>
						Papelón o azúcar morena. </li>
					<li>
						Aceite para freír. </li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de preparación: </h4>
				<p style="font-size:16px;">
					Preparar una masa con la harina. </p>
				<p style="font-size:16px;">
					Mezclar la masa con el anís y el papelón o el azúcar y amasar suavemente. </p>
				<p style="font-size:16px;">
					Hacer las&nbsp;arepitas lo más delgadas posible y fríalas en aceite bien caliente. </p>
				<p style="font-size:16px;">
					Dejar dorar por ambos lados y escurrir en papel absorbente. </p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="bollos">
					Bollos pelones </h2>
				<p style="font-size:16px;">
					&nbsp;(6 raciones)</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes: </h4>
				<ul>
					<li>
						Harina de Maíz 3 ½ tazas. </li>
					<li>
						Carne molida para guisar 1 taza. </li>
					<li>
						Tomate 8 unidades. </li>
					<li>
						Ají dulce 2 unidades. </li>
					<li>
						Pimentón ½ unidad. </li>
					<li>
						Celery 2 unidades. </li>
					<li>
						Aceite 3 cucharadas. </li>
					<li>
						Estevia o Azúcar Morena 1 cucharada. </li>
					<li>
						Sal al gusto. </li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de preparación:</h4>
				<p style="font-size:16px;" align="LEFT">
					Hacer un guiso con la carne, los tomates (4) celery (1 unidad), pimentón, la sal y 2 cucharadas de aceite. </p>
				<p style="font-size:16px;">
					Preparar masa con harina de maíz. Dividir en 6 porciones y dar una forma redonda. </p>
				<p style="font-size:16px;">
					En el centro de cada bola de masa colocar el guiso y tapar o envolver con la misma masa. </p>
				<p style="font-size:16px;">
					Cocinar los bollos en una olla con agua hirviendo. </p>
				<p style="font-size:16px;">
					Preparar la salsa, sofreir tomates (4) celery (1unid) Ají dulce, finamente picados en 1 cucharada de aceite, agregar la sal y el azúcar y cocinar por 10 minutos. </p>
				<p style="font-size:16px;">
					Retirar los bollos del agua y báñelos con la salsa. </p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="flan">
					Flan de Arroz - Grupo de Apoyo al Celíaco de Venezuela</h2>
				<p style="font-size:16px;">
					Grupo de Apoyo al celíaco de Venezuela. COCINA SIN GLUTEN. Recetas y consejos prácticos. Somos celíacos que comemos. Marzo, 2002.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes:</h4>
				<ul>
					<li>
						1 3/4 tazas de arroz.</li>
					<li>
						1 1/4 litro de leche de arroz.</li>
					<li>
						200 gramos de azúcar morena.</li>
					<li>
						50g de mantequilla Ghee clarificada.</li>
					<li>
						4 huevos.</li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de Preparación:</h4>
				<p style="font-size:16px;">
					Remojar y lavar el arroz.</p>
				<p style="font-size:16px;">
					Poner a hervir el arroz&nbsp;en el 1 1/4 litro de leche de arroz. Cuando casi está a punto, agregar el azúcar y terminar de cocinarlo.</p>
				<p style="font-size:16px;">
					Sacar y agregar la mantequilla líquida.</p>
				<p style="font-size:16px;">
					Revolver y cuando se entibie, agregarle los huevos bien batidos.</p>
				<p style="font-size:16px;">
					Enmantequillar una budinera y ponerle azúcar morena en los bordes. Colocar la mezcla y cocinar a baño de María en el horno hasta que esté consistente.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="suspiros">
					Suspiros de coco - Grupo de Apoyo al Celíaco de Venezuela</h2>
				<p style="font-size:16px;">
					Grupo de Apoyo al celíaco de Venezuela. COCINA SIN GLUTEN. Recetas y consejos prácticos. Somos celíacos que comemos. Marzo, 2002.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes:</h4>
				<ul>
					<li>
						40 gramos de harina sin gluten</li>
					<li>
						50 gramos de ralladura de pan sin gluten</li>
					<li>
						5 claras de huevo</li>
					<li>
						200 gramos de azúcar stevia</li>
					<li>
						200 gramos de coco rallado</li>
					<li>
						1 pizca de sal</li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de Preparación:</h4>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					Batir las claras de huevo a punto de nieve con la pizca de sal.</p>
				<p style="font-size:16px;">
					Incorporar suavemente los restantes ingredientes.</p>
				<p style="font-size:16px;">
					Formar pequeños montoncitos de masa sobre una bandeja de horno recubierta con papel encerado o papel para hornear.</p>
				<p style="font-size:16px;">
					Introducir la bandeja en el horno previamente calentado, por 20 minutos a 140ºC.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="panquecas">
					Mezcla para panquecas - Grupo de Apoyo al Celíaco de Venezuela</h2>
				<p style="font-size:16px;">
					Grupo de Apoyo al celíaco de Venezuela. COCINA SIN GLUTEN. Recetas y consejos prácticos. Somos celíacos que comemos. Marzo, 2002.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes:</h4>
				<ul>
					<li>
						1 huevo.</li>
					<li>
						1 taza de harina de maíz.</li>
					<li>
						1/2 taza de harina de arroz.</li>
					<li>
						1 taza de leche de arroz o de almendras.</li>
					<li>
						1 cucharada de aceite de maíz.</li>
					<li>
						1 pizca de sal.</li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de Preparación:</h4>
				<p style="font-size:16px;">
					Batir los huevos con el aceite,&nbsp;la pizca de sal e ir agregando poco a poco las dos harinas, alternando con la leche.</p>
				<p style="font-size:16px;">
					Mezclar&nbsp;y batir bien con batidora eléctrica, hasta obtener una crema.</p>
				<p style="font-size:16px;">
					Realizar las panquecas como de costumbre.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h2 id="arepaYuca">
					Arepas de yuca - Grupo de Apoyo al Celíaco de Venezuela</h2>
				<p style="font-size:16px;">
					Grupo de Apoyo al celíaco de Venezuela. COCINA SIN GLUTEN. Recetas y consejos prácticos. Somos celíacos que comemos. Marzo, 2002.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Ingredientes:</h4>
				<ul>
					<li>
						1/2 kilo de yuca.</li>
					<li>
						6 cucharadas de harina de maíz.</li>
					<li>
						1 cucharadita de sal.</li>
				</ul>
				<p style="font-size:16px;">
					&nbsp;</p>
				<h4>
					Modo de Preparación:</h4>
				<p style="font-size:16px;">
					Cocinar la yuca con agua y sal.</p>
				<p style="font-size:16px;">
					Moler o triturar con un tenedor.</p>
				<p style="font-size:16px;">
					Agregar la harina de maíz.</p>
				<p style="font-size:16px;">
					Mezclar y amasar todo bien y agregar más agua si es necesario.</p>
				<p style="font-size:16px;">
					Darle forma de arepa y asarlas en un budare.</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
				<p style="font-size:16px;">
					&nbsp;</p>
			</div>
		</div>
	</div>
	</div>
{% endblock content %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.flotante').slideUp(300);
			$('.recursos').removeClass('hidden');
			$('#recursos').addClass('selected');
			$('#alimentacion').addClass('selected2');
			$('.flotante').click(function(){
				$('body, html').animate({
					scrollTop: '0px'
				}, 300);
			});

			$(window).scroll(function(){
				if( $(this).scrollTop() > 0 ){
					$('.flotante').slideDown(300);
				} else {
					$('.flotante').slideUp(300);
				}
			});
		});
	</script>
{% endblock custom_script %}
</body>
</html>