{% extends "blog/index.html" %}
{% load static %}
{% block extrahead %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock extrahead %}
{% block extracss %}
	<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
	li {
		color: black;
		margin: 0 20px 15px 20px;
	}
	li p {
		text-align: left;
	}
	</style>
{% endblock extracss %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#nosotros").addClass('selected');
		});
	</script>
{% endblock custom_script %}
{% block content %}
		<div class="section">
			<h2>
				<strong>MISIÓN</strong>
			</h2>
			<p>
				La Unidad de Autismo de la Maternidad Concepción Palacios tiene como meta contribuir con la integración a la sociedad de los niños, niñas y adolescentes que padezcan de algún Trastorno del Espectro Autista.
			<br>
			<br>
				En este sentido, se educará y sensibilizará a la población, de forma que posea las mejores herramientas para aceptar, comprender e integrar a quienes poseen esta condición; lo cual implica, un cambio desde la familia, los maestros y los compañeros de clase.
			<br>
			<br>
				La Unidad de Autismo buscará crear programas y charlas educativas que enseñen a los representantes de los niños, cuáles son las medidas que deben tomar para apoyar el desarrollo de sus hijos, ya que estos trastornos afectan al sistema nervioso y produce dificultades en las relaciones sociales de los individuos que lo padecen. Estas dificultades se observan en &nbsp;la comunicación, conducta e integración del individuo en la sociedad.
			</p>
			<h2>
				<strong>VISIÓN</strong>
			</h2>
			<p>
				La conformación de una sociedad más tolerante y solidaria, preparada para que el individuo con Trastornos del Espectro Autista pueda desenvolverse sin prejuicios de los demás, sin estar apartado ni privado del aprendizaje académico. Maestros de escuela con la preparación para recibir e integrar a los niños autistas, de forma tal que puedan gozar, a su propio ritmo, del derecho de la educación. Padres con actitud paciente dispuestos a apoyar a sus hijos en el desarrollo personal definido por esta condición.
			</p>
			<h2>
				<strong>VALORES</strong>
			</h2>
			<p>
				La Unidad de Autismo promoverá:
			</p>
			<ol>
				<li>
					El respeto hacia el individuo con Trastornos del Desarrollo (Trastornos del Espectro Autista).
				</li>
				<li>
					La integración de la persona autista a la sociedad; para que pueda participar en los procesos.
				</li>
				<li>
					La solidaridad de los ciudadanos venezolanos hacia los individuos que padecen de esta condición.
				</li>
				<li>
					La tolerancia hacia las personas que padecen de alguna condición especial.
					<br>
					<br>
					(Síndrome de Down,&nbsp;Trastornos del Espectro Autista&nbsp;y condiciones discapacitantes)
				</li>
				<li>
					La no discriminación de sexo, género y/o preferencias sexuales.
				</li>
			</ol>
			<br>
			<hr>
			<h2>nuestro equipo</h2>
			<br>
			<div>
				<img src="{% static 'img/emily.jpg' %}" alt="">
				<div>
					<b><a href="#">Dra. Ana Cecilia Marquez</a></b>
					<small>Médico Psiquiatra - Coordinadora de la Unidad</small>
					<p>Reseña e Información del profesional.</p>
					<span>
						<i class="fa fa-envelope"></i>&nbsp;
						<strong style="color:black;font-size:10px;">anaceciliamardu@gmail.com</strong>
					</span>
				</div>
			</div>
			<ul class="article">
				<li>
					<img src="{% static 'img/frank.jpg' %}" alt="">
					<b><a href="#">Dra. Miriam Ortiz</a></b>
					<small>Médico Psiquiatra</small>
					<p>Especialista en Tratamiento Biomédico.</p>
				</li>
				<li>
					<img src="{% static 'img/frank.jpg' %}" alt="">
					<b><a href="#">Dra. Norietza Maestre</a></b>
					<small>Medico especialista en desarrollo infantil</small>
					<p>Evaluacion del desarrollo y riesgo biologico.</p>
					<span>
						<i class="fa fa-envelope"></i>&nbsp;
						<strong style="font-size:10px;">norietzam@gmail.com</strong>
					</span>
				</li>
				<li>
					<img src="{% static 'img/frank.jpg' %}" alt="">
					<b><a href="#">Lic. Dorana Donate</a></b>
					<small>Licenciada en Nutrición y Dietética</small>
					<p>Evaluación Nutricional de los niños y adolescebtes con TEA y neurodesarrollo.</p>
					<span>
						<i class="fa fa-envelope"></i>&nbsp;
						<strong style="font-size:10px;">dorana.vda@gmail.com</strong>
					</span>
				</li>
				<li>
					<img src="{% static 'img/frank.jpg' %}" alt="">
					<b><a href="#">Lic. Ana Emilia Sánchez</a></b>
					<small>Terapeuta Ocupacional</small>
					<p>Información extra del profesional.</p>
					<span>
						<i class="fa fa-envelope"></i>&nbsp;
						<strong style="font-size:10px;">anaesanchezg@hotmail.com</strong>
					</span>
				</li>
			</ul>
			<ul class="article">
				<li>
					<img src="{% static 'img/frank.jpg' %}" alt="">
					<b><a href="#">Lic. Rubén Suarez</a></b>
					<small>Psicopedagogo</small>
					<p></p>
					<span>
						<i class="fa fa-envelope"></i>&nbsp;
						<strong style="font-size:10px;">rubenforeveryoung@gmail.com</strong>
					</span>
				</li>
				<li>
					<img src="{% static 'img/frank.jpg' %}" alt="">
					<b><a href="#">Lic. Carolina Valdez</a></b>
					<small>Terapeuta Conductual</small>
					<p>Psicóloga Terapeuta</p>
					<span>
						<i class="fa fa-envelope"></i>&nbsp;
						<strong style="font-size:10px;">carolsalud2313@hotmail.com</strong>
					</span>
				</li>
				<li>
					<img src="{% static 'img/frank.jpg' %}" alt="">
					<b><a href="#">Lic. Cecilia García</a></b>
					<small>Terapeuta de lenguaje</small>
					<p></p>
					<span>
						<i class="fa fa-envelope"></i>&nbsp;
						<strong style="font-size:10px;">ceciliagarcia@hotmail.com</strong>
					</span>
				</li>
				<li>
					<img src="{% static 'img/frank.jpg' %}" alt="">
					<b><a href="#">Lic. Yoly González</a></b>
					<small>Psicopedagoga</small>
					<p></p>
					<span>
						<i class="fa fa-envelope"></i>&nbsp;
						<strong style="font-size:10px;">ceciliagarcia@hotmail.com</strong>
					</span>
				</li>
			</ul>
			<hr>
			<h2>asistentes de la unidad</h2>
			<ul class="article">
				<li>
					<img src="{% static 'img/frank.jpg' %}" alt="">
					<b><a href="#">TSU Yulesmy Calderón</a></b>
					<small>TSU en Administración</small>
					<p></p>
					<span>
						<i class="fa fa-envelope"></i>&nbsp;
						<strong style="font-size:10px;">yulesmy04@gmail.com</strong>
					</span>
				</li>
				<li>
					<img src="{% static 'img/frank.jpg' %}" alt="">
					<b><a href="#">Maydoli Medina</a></b>
					<small>Secretaria</small>
					<p></p>
				</li>
			</ul>
		</div>
{% endblock content %}