{% extends "blog/alimentacion.html" %}
{% load static %}
{% block extrahead %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css">
{% endblock extrahead %}
{% block extracss %}
<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
	#body #content #section div b {
		color: #144879;
		display: inline-block;
		font-family: 'Arapey';
		font-size: 18px;
		font-weight: normal;
		margin: 0;
		padding: 0;
		text-transform: capitalize;
	}
</style>
{% endblock extracss %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.recursos').removeClass('hidden');
			$('#recursos').addClass('selected');
			$('#enlaces').addClass('selected2');
		});
	</script>
{% endblock custom_script %}
{% block body %}
			<h2>Enlaces de interés</h2>
			<p>
				<br>
				Hay muchos otros recursos y herramientas on-line que pueden ser de su utilidad a la hora de buscar soluciones y de tener mayor dominio con respecto a los tratornos del espectro autista. A continuación, podremos a su disposición los principales portales nacionales e internacionales que consideramos de mucha utilidad y veracidad, y que además mantienen una continua actualización de sus portales en pro al crecimiento de las investigaciones relacionadas al autismo.
			</p>
			<br>
			<br>

			<h2>Otras instituciones nacionales</h2>
			<div style="text-align: center;">
				<b>Fundación Autismo Venezuela</b><br>
				<img src="{% static 'images/links/funda-autismo.gif' %}" alt=""><br><br>
				Sitio web: <a href="http://www.autismo.org.ve">www.autismo.org.ve</a>
				<hr>
				<b>Sociedad Venezolana para niños Autistas SOVENIA</b><br>
				<img src="{% static 'images/links/sovenia.png' %}" alt=""><br><br>
				Sitio web: <a href="http://www.sovenia.net">www.sovenia.net</a>
				<hr>
				<b>Fundación Somos Celiacos Venezuela</b><br>
				<img src="{% static 'images/links/celiaca.jpg' %}" alt=""><br><br>
				Sitio web: <a href="http://www.celiacosvenezuela.org.ve">www.celiacosvenezuela.org.ve</a>
				<hr>
				<b>Fundación Asperger Venezuela</b><br>
				<img src="{% static 'images/links/asperven.jpg' %}" alt=""><br><br>
				Sitio web: <a href="http://www.fundasperven.org.ve">www.fundasperven.org.ve</a>
				<hr>
				<b>Instituto Venezolano para el Desarrollo Integral del niño</b><br>
				<img src="{% static 'images/links/invedia.png' %}" alt=""><br><br>
				Sitio web: <a href="http://www.invedin.org">www.invedin.org</a>
				<hr>
				<b>Fundación Autismo en Voz Alta</b><br>
				<img src="{% static 'images/links/autismovozalta.jpg' %}" alt=""><br><br>
				Sitio web: <a href="http://www.autismoenvozalta.com">www.autismoenvozalta.com</a>
				<hr>
			</div>
			<br>
			<h2>Otras instituciones internacionales</h2>
			<div style="text-align: center;">
				<b>Liga de Intervención Nutricional Contra Autismo e Hiperactividad</b><br>
				<img src="{% static 'images/links/linca.jpg' %}" alt=""><br><br>
				Idioma: <i class="flag-icon flag-icon-es"></i> - Sitio web: <a href="http://www.linca.org">www.linca.org</a>
				<hr>
				<b>Asociación de Padres con Autismo APNA Madrid</b><br>
				<img src="{% static 'images/links/apna.png' %}" alt=""><br><br>
				Idioma: <i class="flag-icon flag-icon-es"></i> - Sitio web: <a href="http://www.apna.es">www.apna.es</a>
				<hr>
				<b>Autismo Diario</b><br>
				<img src="{% static 'images/links/autismodiario.png' %}" alt=""><br><br>
				Idioma: <i class="flag-icon flag-icon-es"></i> - Sitio web: <a href="http://www.autismodiario.org">www.autismodiario.org</a>
				<hr>
				<b>Autism Research Institute ARI</b><br>
				<img src="{% static 'images/links/autism.png' %}" alt=""><br><br>
				Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitio web: <a href="http://www.autism.com">www.autism.com</a>
				<hr>
				<b>Autism Speks</b><br>
				<img src="{% static 'images/links/autismspeak.png' %}" alt=""><br><br>
				Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitio web: <a href="http://www.autismspeaks.org">www.autismspeaks.org</a>
				<hr>
				<b>Feingold Association of the United States</b><br>
				<img src="{% static 'images/links/feingoldbannerlogo.png' %}" alt=""><br><br>
				Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitio web: <a href="http://www.feingold.org">www.feingold.org</a>
				<hr>
				<b>Laboratory KirKman</b><br>
				<img src="{% static 'images/links/kirkman.png' %}" alt=""><br><br>
				Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitios webs: <a href="http://www.kirmanlabs.com">www.kirmanlabs.com</a> /  <a href="http://www.kirmangroup.com">www.kirmangroup.com</a>
				<hr>
				<b>Great Plains Laboratory</b><br>
				<img src="{% static 'images/links/greatplain.png' %}" alt=""><br><br>
				Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitio web: <a href="http://www.greatplainslaboratory.com">www.greatplainslaboratory.com</a>
				<hr>
				<b>Centers for Disease Control and Prevention</b><br>
				<img src="{% static 'images/links/cdc.svg' %}" alt=""><br><br>
				Idioma: <i class="flag-icon flag-icon-gb"></i>/<i class="flag-icon flag-icon-us"></i> - Sitio web: <a href="http://www.cdc.gov/ncbddd/autism/index.html">www.cdc.gov/ncbddd/autism/index.html</a>
			</div>{% endblock body %}