<!DOCTYPE HTML>
{% load static %}
<html>
<head>
	<title>{% block title %}Unidad de Autismo - Maternidad Concepción Palacios{% endblock title %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Theme style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link rel="icon" href="{% static 'img/unidad.ico' %}">{% block extrahead %}{% endblock extrahead %}
{% block extracss %}{% endblock extracss %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#recursos').click(function() {
				$('.recursos').removeClass('hidden');
				$('#recursos').addClass('selected');
				$('#index').removeClass('selected');
			});
		});
	</script>
{% block custom_script %}{% endblock custom_script %}
</head>
<body>
	<div id="header">
		<div>
			<span style="margin-right:50px;"></span>
			<a href="{% url 'home' %}" class="logo"><img src="{% static 'img/unidad.png' %}" alt=""></a>
		</div>
		<ul>
			<li id="inicio">
				<a href="{% url 'home' %}">inicio</a>
			</li>
			<li id="nosotros">
				<a href="{% url 'nosotros' %}">nosotros</a>
			</li>
			<li id="noticias">
				<a href="{% url 'noticias' %}">noticias</a>
			</li>
			<li id="recursos">
				<a href="javascript:void(0);">recursos</a>
			</li>
			<li id="preguntas">
				<a href="{% url 'preguntas' %}">preguntas frecuentes</a>
			</li>
			<li id="contacto">
				<a href="{% url 'contacto' %}">contacto</a>
			</li>
			<li id="aldea">
				<a href="{% url 'aldea' %}">aldea</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<div class="header hidden recursos" style="padding-top:70px; padding-bottom: 0;">
			<div>
				<ul>
					<li id="alimentacion">
						<a href="{% url 'alimentacion' %}">Alimentación</a>
					</li>
					<li id="peliculas">
						<a href="{% url 'peliculas' %}">Películas</a>
					</li>
					<li id="centros">
						<a href="{% url 'centros' %}">Centros de Ayuda</a>
					</li>
					<li id="enlaces">
						<a href="{% url 'enlaces' %}">Enlaces de Interés</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="hidden recursos" style="padding-top:25px;"></div>{% block content %}{% endblock content %}
	</div>
	<div id="footer">
		<div>
			<p>
				Copyright &copy; Unidad de Autismo - Maternidad Concepción Palacios
			</p>
			<ul>
				<li>
					<a href="{% url 'home' %}">inicio</a>
				</li>
				<li>
					<a href="{% url 'nosotros' %}">nosotros</a>
				</li>
				<li>
					<a href="{% url 'noticias' %}">noticias</a>
				</li>
				<li>
					<a href="{% url 'alimentacion' %}">recursos</a>
				</li>
				<li>
					<a href="{% url 'preguntas' %}">preguntas</a>
				</li>
				<li>
					<a href="{% url 'contacto' %}">contacto</a>
				</li>
				<li>
					<a href="{% url 'aldea' %}">aldea</a>
				</li>
			</ul>
			<div>
				<a target="_blank" href="https://www.facebook.com/unidaddeautismomcp" id="facebook">facebook</a>
				<a target="_blank" href="https://twitter.com/unidadma" id="twitter">twitter</a>
				<!-- <a href="" id="googleplus"></a> -->
			</div>
		</div>
	</div>
</body>
</html>