{% extends "blog/alimentacion.html" %}
{% load static %}
{% block extrahead %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css">
{% endblock extrahead %}
{% block extracss %}
<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
	#body #content #section div b {
		color: #144879;
		display: inline-block;
		font-family: 'Arapey';
		font-size: 18px;
		font-weight: normal;
		margin: 0;
		padding: 0;
		text-transform: capitalize;
	}
</style>
{% endblock extracss %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.recursos').removeClass('hidden');
			$('#recursos').addClass('selected');
		});
	</script>
{% endblock custom_script %}
{% block body %}
				<h2>¡Manual para los primeros 100 días!</h2>
				<p>
					Un manual para ayudar a las familias a obtener la información crítica que necesitan durante los primeros 100 días luego de un diagnóstico de autismo.
				</p>
				<img src="{% static 'images/manual.jpg' %}" style="margin: 0 100px;" width="250" alt=""><br><br>
				<a style="margin: 0 200px;" href="http://unidadautismo.herokuapp.com/static/pdf/manual.pdf" class="download btn btn-primary center">Descargar <i class="fa fa-download"></i></a>
			
{% endblock body %}
</body>
</html>