<!DOCTYPE HTML>
{% extends "index.html" %}

{% load static %}
{% block extracss %}
<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
	h5 {
		color: #ef414a;
	}
	h3 {
		color: #144879;
	}
	li {
		color: black;
	}
</style>
{% endblock extracss %}
{% block content %}
	<div id="body">
		<div id="content">
			<div id="sidebar">
				<h3><strong>Mas Recursos</strong></h3>
				<ul>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'alimentacion' %}"><strong>Alimentación</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'enlaces' %}"><strong>Enlaces de interés</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'centros' %}"><strong>Centros de ayuda</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'peliculas' %}"><strong>Películas</strong></a>
					</li>
					<li class="selected" style="padding-bottom:1px">
						<a href="{% url 'libro' %}"><strong>El Autismo en mi Vida (Libro)</strong></a>
					</li>
				</ul>
			</div>
			<div id="section" style="margin-left: 40px; width:600px; padding-right:0px;">
				<h2>¡Manual para los primeros 100 días!</h2>
				<p>
					Un manual para ayudar a las familias a obtener la información crítica que necesitan durante los primeros 100 días luego de un diagnóstico de autismo.<br><br><br>
				</p>

				<a href="{% static 'manual.pdf' %}" class="download btn btn-primary">Descargar <i class="fa fa-download"></i></a>
			</div>
		</div>
	</div>
	</div>
{% endblock content %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.recursos').removeClass('hidden');
			$('#recursos').addClass('selected');
		});
	</script>
{% endblock custom_script %}
</body>
</html>