{% extends "blog/content.html" %}
{% load static %}
{% block extracss %}
	<style type="text/css">
	p {
		color: black;
		text-align: justify;
	}
	</style>
{% endblock extracss %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#noticias").addClass('selected');
		});
	</script>
{% endblock custom_script %}
{% block body %}
				<div class="row" style="padding-top:0;">
				<div class="col-sm-1" style="padding-top:0;">
					<a href="/noticia/lista">
				 			<img class="img-circle media-object" src="{% static 'img/admin.png' %}" height="40" width="40">
				 	</a>
                </div>
                <div class="col-sm-8" style="padding-top:0;">
                	<h2 class="text-center" style="font-size: 40px;">noticias</h2>
                </div>
				</div>
				
				
				
				{% for noticia in object_list %}
				<hr>
				<div style="padding-top:0;">
					<h2>{{noticia.titulo}}.</h2>
					<!--
					{% if noticia.imagen %}
					<img src="{{noticia.imagen.url}}" alt="" height="80" width="120">
					{% endif %}
					-->
					{% if noticia.imagen %}
					<img src="{{noticia.imagen.url}}" alt=" " width="320">
					<br>
					{% endif %}
					<b>Autor: {{noticia.autor}} - categoría: {{noticia.categoria}}</b>
					<br>
					<br>
					<span>publicado: {{noticia.created_at}}</span>
					<br>
					<br>
					<p>
						<!--Codigo para escapar html videos youtube embedidos
							cuando la categoría sea Video
						-->
						{% if noticia.categoria == "Video" %}
  							{{ noticia.text|safe|linebreaksbr }}
						{% else %}
    						{% with text=noticia.text|urlize%}
							{{text|safe|linebreaksbr }}
							{% endwith %}
						{% endif %}
					</p>
				</div>{% endfor %}{% endblock body %}