{% extends "blog/alimentacion.html" %}
{% load static %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.recursos').removeClass('hidden');
			$('#recursos').addClass('selected');
			$('#peliculas').addClass('selected2');
		});
	</script>
{% endblock custom_script %}
{% block body %}
			<h2>PELÍCULAS DEL ASPERGER</h2>
			<table border="1">
				<tbody>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p1.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p2.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p3.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p4.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p5.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p6.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p7.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p8.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p9.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p10.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p11.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p12.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p13.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p14.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p15.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p16.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p17.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p18.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p19.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p20.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p21.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p22.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p23.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p24.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p25.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p26.jpg' %}"></td>
					</tr>
					<tr>
						<td style="padding:8px;"><img src="{% static 'images/movies/p27.jpg' %}"></td>
						<td style="padding:8px;"><img src="{% static 'images/movies/p28.jpg' %}"></td>
					</tr>
				</tbody>
			</table>
{% endblock body %}