{% extends "blog/alimentacion.html" %}
{% load static %}
{% block custom_script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.recursos').removeClass('hidden');
			$('.recetas').removeClass('hidden');
			$('#recursos').addClass('selected');
			$('#alimentacion').addClass('selected2');
		});
	</script>
{% endblock custom_script %}
{% block body %}
			<img src="{% static 'images/recetas.jpg' %}" alt="">
			<br>
			<br>
			<h2 id="itm01">Mezcla para hacer pan</h2>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>1 kilo de harina de arroz.</li>
				<li>650 gr de maicena o de almidón de yuca.</li>
				<li>1 1/3 taza de agua.</li>
				<li>3 cucharadas de azúcar Stevia.</li>
				<li>3 cucharadas de aceite de maíz.</li>
				<li>2 cucharaditas de sal.</li>
				<li>3 cucharaditas de levadura seca sin gluten.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Mezcle el kilo de harina de arroz con los 650 gramos de maicena (Aprox. 4 tazas de la mezcla). Luego agréguele el resto de los ingredientes secos. Añada el agua y el aceite de maíz. Mezclar hasta lograr una masa homogénea.<br>
				Dejar reposar por media hora y hornear por 35 minutos aprox a 250ºC en el horno hasta que dore.<br>
				Se aconseja usar batidora eléctrica.
			</p>
			<br>
			<br>
			<h2 id="itm02">Torta blanca sin gluten</h2>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>2 tazas de harina sin gluten.</li>
				<li>1 1/2 taza de azúcar Stevia o Xilitol.</li>
				<li>3 1/2 cucharaditas de polvo para hornear sin gluten.</li>
				<li>1/2 taza de mantequilla Ghee.</li>
				<li>2 cucharaditas Xanthan Gum.</li>
				<li>3 huevos.</li>
				<li>1 taza de leche de arroz  o agua de arroz.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Precalentar el horno en 125º C.<br>
				Hacer la mezcla de las tres harinas con 1 kilo de harina de arroz, 650 gramos de maicena o 1/2 kilo de almidón de yuca.<br>
				Añada a las 2 tazas de harina sin gluten el Xanthan Gum y el polvo para hornear sin gluten.<br>
				Batir bien la mantequilla Ghee con el azúcar Stevia. Luego añadir los huevos. Posteriormente añada 2 tazas de mezcla de las harinas, la leche y bata toda la mezcla a alta velocidad durante 3 minutos aproximadamente.<br>
				Untar el molde con mantequilla líquida o aceite. Vierta la mezcla en el molde y deje hornear por 35 minutis. Puede agregarle esencia de vainilla, canela o cascaritas de limón para darle otro sabor a la torta.
			</p>
			<br>
			<h3 style="padding: 0;">IMPORTANTE RECORDAR</h3>
			<p style="font-size:16px;">
				En el caso del Xanthan Gum si se excede puede dañar la mezcla y darle consistencia de chicle a la torta.
			</p>
			<br>
			<br>
			<h2 id="itm03">Leche de almendras</h2>
			<p style="font-size:16px;">
				Cantidad: 4-5 tazas.
			</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>1 porción de almendras</li>
				<li>4 tazas de agua fría</li>
				<li>Ajonjolí al gusto (aumenta el aporte de calcio en las bebidas)</li>
				<li>Estevia o azúcar morena al gusto (Si no hay Cándida)</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Antes de pelar las almendras, ponerlas en agua hirviendo por 5 a 7 minutos.</br>
				Después de peladas, dejar en remojo todas las almendras por una noche.<br>
				Mezcle todos los ingredientes en una licuadora o batidora hasta quetenga una mezcla homogénea.<br>
				Dejar que se asiente por 30 minutos.<br>
				Puede agregar pasas, vainilla o canela para agregar sabor.
			</p>
			<br>
			<br>
			<h2 id="itm04">Leche de coco</h2>
			<p style="font-size:16px;">
				Cantidad: 4-5 tazas.
			</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>1 coco (227 gramos [1/2 libra])</li>
				<li>4-5 tazas de agua fría</li>
				<li>Estevia o azúcar morena al gusto (Si no hay Cándida).</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Dejar el coco duro en remojo, picado en trocitos, toda la noche.<br>
				Mezclar los ingredientes en la licuadora (batidora) y bátalos.<br>
				Dejar reposar la mezcla por 30 minutos.<br>
				Colar la mezcla y sírvalo frío.<br>
				Añadir estevia o azúcar morena (opcional).<br>
				Puede usar el sedimento restantes para sus postres.
			</p>
			<br>
			<br>
			<h2 id="itm05">Leche de arroz</h2>
			<p style="font-size:16px;">
				Cantidad: 4-5 tazas.
			</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>4 tazas de agua caliente o tibia.</li>
				<li>1 taza de arroz cocido (Integral o blanco)</li>
				<li>1 cucharadita de vainilla natural.</li>
				<li>Estevia al gusto.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Mezclar todos los ingredientes en una licuadora (batidora) hasta que tenga una mezcla homogénea.<br>
				Dejar que se asiente por unos 30 minutos.<br>
				Colar la mezcla resultante.<br>
				El sabor dependerá de cómo usted cocine el arroz. Trate diferentes formas, hasta que consigue el que tenga mejor sabor.<br>
				Para variar puede hacer dos cosas. La primera después de limpiar el arroz, úselo crudo en lugar de cocinado. Por otro lado puede dejarlo en remojo toda la noche y batirlo con los otros ingredientes a la mañana siguiente.
			</p>
			<br>
			<br>
			<h2 id="itm06">Leche de ajonjolí</h2>
			<p style="font-size:16px;">Cantidad: 1 vaso.</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>2 cucharadas de ajonjolí semilla blanca.</li>
				<li>1/4 agua hervida.</li>
				<li>Estevia o azúcar morena al gusto.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Lavar 2 cucharas de ajonjolí.<br>
				En una copa de agua hervida dejar reposando por la noche el ajonjolí.<br>
				Sin cambiar el agua, licuar en la licuadora hasta que el agua se vuelva lechosa y homogénea.<br>
				Endulzar con estevia o con azúcar morena al gusto.
			</p>
			<br>
			<br>
			<h2 id="itm07">Crema de Cheez Whizz</h2>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>Pimentón rojo asado 1 unidad.</li>
				<li>Semillas de Merey 1 taza.</li>
				<li>Aceite de oliva o maíz al gusto.</li>
				<li>Sal al gusto.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Se coloca el pimentón asado en la licuadora y se le va añadiendo las semillas de merey tostadas de acuerdo a la cantidad de pimentón, se le pone sal al gusto, aceite de oliva y un poquito de agua por si acaso hace falta darle consistencia de pasta para untar.
			</p>
			<br>
			<br>
			<h2 id="itm08">Ghee: Mantequilla o margarina clarificada</h2>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>Margarina o Mantequilla ½ Kg. o 1 Kg.</li>
				<li>Nota: Al final del proceso queda bastante reducida por ello cuanto más cantidad mejor.</li>
				<li>Una gasa esterilizada (de venta en farmacias) + Un colador. O también se podría utilizar un colador de tela.</li>
				<li>Una olla de acero inoxidable.</li>
				<li>Un recipiente de vidrio preferentemente con tapa hermética.</li>
				<li>Una cuchara de madera.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Se coloca la mantequilla o margarina en la olla a fuego lento y se va removiendo para derretirla. Durante todo el proceso se deberá ir removiendo constantemente y evitar que la mantequilla o margarina se queme.<br>
				Cuando empiece a hervir se formará una espuma que no se ha de retirar en ningún momento, sino que hay que esperar a que esta se evapore.<br>
				Se mantendrá hirviendo hasta que la mantequilla se haga más líquida y alcance un color dorado. En las paredes de la olla quedará la proteína a medida que se vaya haciendo el ghee y cogerá un color tostado con olor a galleta.<br>
				Para comprobar que el ghee está hecho se puede hacer la prueba del algodón. Se retira la olla del fuego y se introduce un trocito de algodón o hisopo, éste se moja un poco en el ghee y se comprueba directamente en el fuego si chispotea, si ya no chispotea es que ya no hay agua y está hecho; O también esperar hasta que no se produzca más espuma.<br>
				Acto seguido se coge la gasa y se pone en el colador, se coloca encima del recipiente de vidrio y se vierte el ghee para que así quede retenida toda la proteína y trazas de soya que pudiese contener (Proceso de filtrado).<br>
				Se deja reposar y enfriar sin taparla.<br>
				Finalmente se tapa y se conserva a temperatura ambiente o en el refrigerador.
			</p>
			<br>
			<br>
			<h2 id="itm09">Buñuelos de apio</h2>
			<p style="font-size:16px;">Cantidad: 6 raciones.</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>Apio ½ kg.</li>
				<li>Huevo 1 unidad.</li>
				<li>Aceite ¼ de taza.</li>
				<li>Sal al gusto.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Lavar, pelar y sancochar los apios hasta que ablanden.<br>
				Escurrir y aplastar hasta hacer puré.<br>
				Añadir el huevo, la sal.<br>
				Formar bolitas.<br>
				Freir las bolitas en aceite caliente, moviendo constantemente para que doren de manera uniforme.<br>
				Escurrir sobre papel absorbente.<br>
				Si desea agregue sirope de papelón.
			</p>
			<br>
			<br>
			<h2 id="itm10">Tortillas de papa</h2>
			<p style="font-size:16px;">Cantidad: 6 raciones.</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>Papas medianas 2 unidades.</li>
				<li>Ajoporro 1 ½ unidad.</li>
				<li>Huevos 5 unidades.</li>
				<li>Aceite 4 ½ cucharadas.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Lavar, pelar y rebanar las papas finamente.<br>
				Corte el ajoporro en trocitos.<br>
				En un sartén, calientar el aceite indicado y añadir las rebanadas de papa. Tapar y dejar cocinar a fuego lento.<br>
				A mitad de cocción agregue el ajoporro.<br>
				Batir los huevos y añadir las papas y al ajoporro cocido.<br>
				Freir y dorearpor ambos lados. Se puede comer caliente o fría.
			</p>
			<br>
			<br>
			<h2 id="itm11">Yuca con mojito</h2>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>Yuca 1 kg.</li>
				<li>Apio España 1 unidad.</li>
				<li>Perejil 2 ramitas.</li>
				<li>Cilantro 2 ramitas.</li>
				<li>Pimentón ½ unidad.</li>
				<li>Ají dulce 2 unidades.</li>
				<li>Aceite 4 cucharadas.</li>
				<li>Vinagre 1 cucharada.</li>
				<li>Sal al gusto.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Lavar, pelar y cortar la yuca en trozos.<br>
				Sancochar hasta que ablande.<br>
				Picar finamente el apio España, perejil, cilantro, ají dulce y pimentón.<br>
				Sazonar con el aceite, vinagre y sal al gusto.<br>
				Si desea añada aguacate picado.
			</p>
			<br>
			<br>
			<h2 id="itm12">Chicha de ocumo chino</h2>
			<p style="font-size:16px;">Cantidad: 6 raciones.</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>Ocumo Chino ½ kg.</li>
				<li>Agua 3 tazas.</li>
				<li>Leche de arroz 3 tazas.</li>
				<li>Estevia o Azúcar Morena al gusto (Si no hay Cándida)</li>
				<li>Vainilla natural.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Lave, pele y corte el ocumo en trozos.<br>
				Póngalo a hervir en el agua indicada hasta que ablande.<br>
				Licue junto con la leche y añada el azúcar y la vainilla. Sirva Frío.<br>
				Le puede agregar canela.
			</p>
			<br>
			<br>
			<h2 id="itm13">Arepas dulces</h2>
			<p style="font-size:16px;">Cantidad: 6 raciones.</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>Harina de Maíz (libre de trazas de gluten).</li>
				<li>Anís dulce.</li>
				<li>Papelón o azúcar morena.</li>
				<li>Aceite para freír.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Preparar una masa con la harina.<br>
				Mezclar la masa con el anís y el papelón o el azúcar y amasar suavemente.<br>
				Hacer las arepitas lo más delgadas posible y fríalas en aceite bien caliente.<br>
				Dejar dorar por ambos lados y escurrir en papel absorbente.
			</p>
			<br>
			<br>
			<h2 id="itm14">Bollos pelones</h2>
			<p style="font-size:16px;">Cantidad: 6 raciones.</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>Harina de Maíz 3 ½ tazas.</li>
				<li>Carne molida para guisar 1 taza.</li>
				<li>Tomate 8 unidades.</li>
				<li>Ají dulce 2 unidades.</li>
				<li>Pimentón ½ unidad.</li>
				<li>Celery 2 unidades.</li>
				<li>Aceite 3 cucharadas.</li>
				<li>Estevia o Azúcar Morena 1 cucharada.</li>
				<li>Sal al gusto.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Hacer un guiso con la carne, los tomates (4) celery (1 unidad), pimentón, la sal y 2 cucharadas de aceite.<br>
				Preparar masa con harina de maíz. Dividir en 6 porciones y dar una forma redonda.<br>
				En el centro de cada bola de masa colocar el guiso y tapar o envolver con la misma masa.<br>
				Cocinar los bollos en una olla con agua hirviendo.<br>
				Preparar la salsa, sofreir tomates (4) celery (1unid) Ají dulce, finamente picados en 1 cucharada de aceite, agregar la sal y el azúcar y cocinar por 10 minutos.<br>
				Retirar los bollos del agua y báñelos con la salsa.
			</p>
			<br>
			<br>
			<h2 id="itm15">Flan de Arroz - Grupo de Apoyo al Celíaco de Venezuela</h2>
			<p style="font-size:16px;">
				Grupo de Apoyo al celíaco de Venezuela. COCINA SIN GLUTEN. Recetas y consejos prácticos. Somos celíacos que comemos. Marzo, 2002.
			</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>1 3/4 tazas de arroz.</li>
				<li>1 1/4 litro de leche de arroz.</li>
				<li>200 gramos de azúcar morena.</li>
				<li>50g de mantequilla Ghee clarificada.</li>
				<li>4 huevos.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Remojar y lavar el arroz.<br>
				Poner a hervir el arroz en el 1 1/4 litro de leche de arroz. Cuando casi está a punto, agregar el azúcar y terminar de cocinarlo.<br>
				Sacar y agregar la mantequilla líquida.<br>
				Revolver y cuando se entibie, agregarle los huevos bien batidos.<br>
				Enmantequillar una budinera y ponerle azúcar morena en los bordes. Colocar la mezcla y cocinar a baño de María en el horno hasta que esté consistente.
			</p>
			<br>
			<br>
			<h2 id="itm16">Suspiros de coco - Grupo de Apoyo al Celíaco de Venezuela</h2>
			<p style="font-size:16px;">
				Grupo de Apoyo al celíaco de Venezuela. COCINA SIN GLUTEN. Recetas y consejos prácticos. Somos celíacos que comemos. Marzo, 2002.
			</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>40 gramos de harina sin gluten</li>
				<li>50 gramos de ralladura de pan sin gluten</li>
				<li>5 claras de huevo</li>
				<li>200 gramos de azúcar stevia</li>
				<li>200 gramos de coco rallado</li>
				<li>1 pizca de sal</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Batir las claras de huevo a punto de nieve con la pizca de sal.<br>
				Incorporar suavemente los restantes ingredientes.<br>
				Formar pequeños montoncitos de masa sobre una bandeja de horno recubierta con papel encerado o papel para hornear.<br>
				Introducir la bandeja en el horno previamente calentado, por 20 minutos a 140ºC.
			</p>
			<br>
			<br>
			<h2 id="itm17">Mezcla para panquecas - Grupo de Apoyo al Celíaco de Venezuela</h2>
			<p style="font-size:16px;">
				Grupo de Apoyo al celíaco de Venezuela. COCINA SIN GLUTEN. Recetas y consejos prácticos. Somos celíacos que comemos. Marzo, 2002.
			</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>1 huevo.</li>
				<li>1 taza de harina de maíz.</li>
				<li>1/2 taza de harina de arroz.</li>
				<li>1 taza de leche de arroz o de almendras.</li>
				<li>1 cucharada de aceite de maíz.</li>
				<li>1 pizca de sal.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Batir los huevos con el aceite, la pizca de sal e ir agregando poco a poco las dos harinas, alternando con la leche.<br>
				Mezclar y batir bien con batidora eléctrica, hasta obtener una crema.<br>
				Realizar las panquecas como de costumbre.
			</p>
			<br>
			<br>
			<h2 id="itm18">Arepas de yuca - Grupo de Apoyo al Celíaco de Venezuela</h2>
			<p style="font-size:16px;">
				Grupo de Apoyo al celíaco de Venezuela. COCINA SIN GLUTEN. Recetas y consejos prácticos. Somos celíacos que comemos. Marzo, 2002.
			</p>
			<br>
			<h3 style="padding: 0;">Ingredientes:</h3>
			<ul>
				<li>1/2 kilo de yuca.</li>
				<li>6 cucharadas de harina de maíz.</li>
				<li>1 cucharadita de sal.</li>
			</ul>
			<br>
			<h3 style="padding: 0;">Modo de Preparación:</h3>
			<br>
			<p style="font-size:16px;">
				Cocinar la yuca con agua y sal.<br>
				Moler o triturar con un tenedor.<br>
				Agregar la harina de maíz.<br>
				Mezclar y amasar todo bien y agregar más agua si es necesario.<br>
				Darle forma de arepa y asarlas en un budare.
			</p>
			<br>
			<br>{% endblock body %}